﻿@page
@model QuizSystem.Pages.ClassManagement.CourseListModel

@{
    ViewData["Title"] = "CourseList";
}

<h1>CourseList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                <a asp-page="./index" asp-route-id="@item.CourseId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
