﻿@page
@model QuizSystem.Pages.ClassManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="~/css/classes/details.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row" style="margin-bottom:10px">
                                <div class="col-sm-10">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Class Details</h6>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@Html.DisplayNameFor(model => model.Class.ClassName)</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.Class.ClassName)
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@Html.DisplayNameFor(model => model.Class.StartDate)</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.Class.StartDate)
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@Html.DisplayNameFor(model => model.Class.EndDate)</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.Class.EndDate)
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@Html.DisplayNameFor(model => model.Class.Course)</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.Class.Course.CourseCode)
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Lecturer</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @if (@Model.Class.LecturerAccount == null)
                                        {
                                            <p>Not assigned yet.</p>
                                        }else{
                                            <p>
                                            @Html.DisplayFor(model => model.Class.LecturerAccountNavigation.LecturerName) (@Html.DisplayFor(model => model.Class.LecturerAccountNavigation.Account))
                                            </p>
                                        }
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info " asp-page="./Edit" asp-route-id="@Model.Class.ClassId">Edit</a>
                                    <a class="btn btn-back " asp-page="./Index" asp-route-id="@Model.Class.CourseId">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters-sm">
                        <div class="col-sm-12 mb-6">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Student List</h6>
                                    
                                    @if (@Model.TakeClass.Count == 0)
                                    {
                                        <p style="text-align:center">Not assigned yet.</p>
                                    }
                                    else
                                    {
                                        <table>
                                            <thead>
                                                <tr class="table100-head">
                                                    <th class="column1">Student Account</th>
                                                    <th class="column2">Student ID</th>
                                                    <th class="column3">Student Name</th>
                                                    <th class="column4">Student Phone</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.TakeClass)
                                                {
                                                    <tr>
                                                        <td>@item.StudentAccount</td>
                                                        <td>@item.StudentAccountNavigation.Mssv</td>
                                                        <td>@item.StudentAccountNavigation.StudentName</td>
                                                        <td>@item.StudentAccountNavigation.Phone</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
