﻿@page
@using Microsoft.EntityFrameworkCore
@using QuizSystem.Models
@model QuizSystem.Pages.ClassManagement.EditModel

@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="~/css/classes/details.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            $('table .delete').on('click', function () {
                var id = $(this).parent().find('#id').val();
                $('#deleteEmployeeModal #id').val(id);
            });

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });

        function openFailModal(strMessage) {
            var myDiv = document.getElementById("MyModalFailAlertBory");
            myDiv.innerHTML = strMessage;
            $('#myFailModal').modal('show');
        }

        $(document).ready(function () {
            var msg = "@TempData["FailMessage"]";
            if (msg) openFailModal(msg);
        });


        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBory");
            myDiv.innerHTML = strMessage;
            $('#mySuccessModal').modal('show');
        }

        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg) openSuccessModal(msg);
        });

    </script>
</head>
<body>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-12">

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row" style="margin-bottom:10px">
                                <div class="col-sm-8">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Class Details</h6>
                            </div>
                            @if (@Model.Class.EndDate >= DateTime.Today)
                                {
                                    <div class="col-sm-4 text-secondary d-flex">
                                        <button class="btn btn-info" style="margin-left: auto" data-toggle="modal" data-target="#assignLecturer">Edit Lecturer</button>
                                        @if (Model.Class.LecturerAccount == null)
                                        {
                                        }else{
                                            <button style="margin-left:15px" class="btn btn-info" data-toggle="modal" data-target="#assignCoworker">Edit Co-Worker</button>
                                        }
                                    </div>
                                }
                            </div>
                            <hr />
                            <form method="post">
                                <input name="id" type="hidden" value="@Model.Class.ClassId" class=" form-control" />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Class Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                        <input name="name" value="@Model.Class.ClassName" class=" form-control" />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Start Date</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                        <input name="startdate" type="date" asp-for="@Model.Class.StartDate" class=" form-control" />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">End Date</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                        <input name="enddate" type="date" asp-for="@Model.Class.EndDate" class=" form-control" />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Course</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                        @Html.DisplayFor(model => model.Class.Course.CourseCode)
                                </div>
                            </div>
                            <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Lecturer</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @if (@Model.Class.LecturerAccount == null)
                                        {
                                            <p>Not assigned yet.</p>
                                        }else{
                                            <p>
                                            @Html.DisplayFor(model => model.Class.LecturerAccountNavigation.LecturerName) (@Html.DisplayFor(model => model.Class.LecturerAccountNavigation.Account))
                                            </p>
                                        }
                                    </div>
                                </div>
                            <hr />
                            @if (@Model.Class.CoWorker != null)
                            {
                            <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Co-Worker</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                            <p>
                                            @Html.DisplayFor(model => model.Class.CoWorkerNavigation.LecturerName) (@Html.DisplayFor(model => model.Class.CoWorkerNavigation.Account))
                                            </p>
                                    </div>
                                </div>
                            <hr />
                                }
                            <div class="row">
                                <div class="col-sm-12">
                                    <input class="btn btn-info" type="submit" value="Save"/>
                                    <a class="btn btn-back " asp-page="./index" asp-route-id="@Model.Class.CourseId">Back</a>
                                </div>
                            </div>
                                
                            </form>
                        </div>
                    </div>

                    <div class="row gutters-sm">
                        <div class="col-sm-12 mb-6">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row d-flex" style="margin-bottom:10px">
                                        <div class="col-sm-10">
                                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Student List</h6>
                                        </div>
                                        @if (@Model.Class.EndDate >= DateTime.Today)
                                         {
                                        <div class="col-sm-2" style="text-align:right">
                                            <button class="btn btn-info" data-toggle="modal" data-target="#assignStudent">Edit Student</button>
                                        </div>
                                         }
                                    </div>
                                    @if (@Model.TakeClass.Count == 0)
                                    {
                                        <p style="text-align:center">Not assigned yet.</p>
                                    }else{
                                    <table>
                                        <thead>
                                            <tr class="table100-head">
                                                <th class="column1">Student Account</th>
                                                <th class="column2">Student ID</th>
                                                <th class="column3">Student Name</th>
                                                <th class="column4">Student Phone</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.TakeClass)
                                            {
                                                <tr>
                                                    <td>@item.StudentAccount</td>
                                                    <td>@item.StudentAccountNavigation.Mssv</td>
                                                    <td>@item.StudentAccountNavigation.StudentName</td>
                                                    <td>@item.StudentAccountNavigation.Phone</td>
                                                        <td>
                                                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                            <input type="hidden" name="id" id="id" value="@item.Id" />
                                                        </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>


               
                </div>
            </div>
        </div>
    </div>
    <div id="assignLecturer" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
				<form method="post" asp-page="Edit" asp-page-handler="AssignLecturer">
					<div class="modal-header">						
					<h4 class="modal-title">Chose a Lecturer</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
                        @if (Model.Lecturers.Count > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr class="table100-head">
                                        <th>
                                        </th>
                                        <th>
                                            Lecturer ID
                                        </th>
                                        <th>
                                            Lecturer Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Lecturers)
                                    {
                                        <tr>
                                            <td>
                                                <input type="radio" class="radio custom-checkbox" value="@item.Account" name="lecturer" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Account)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LecturerName)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }else{
                            <div style="text-align: center">
                                <p>No lecturer left.</p>
                            </div>
                        }
                    </div>
				<div class="modal-footer">
                        <input type="hidden" name="id" value="@Model.Class.ClassId" />
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    @if (Model.Lecturers.Count > 0)
                        {
                            <input type="submit" class="btn btn-danger" value="Assign">
                        }
				</div>
			</form>
		</div>
	</div>
</div>

    <div id="assignStudent" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" asp-page="Edit" asp-page-handler="AssignStudent">
                    <div class="modal-header">
                        <h4 class="modal-title">Chose Students</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr class="table100-head">
                                    <th>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="selectAll">
                                            <label for="selectAll"></label>
                                        </span>
                                    </th>
                                    <th>
                                        Account
                                    </th>
                                    <th>
                                        Student ID
                                    </th>
                                    <th>
                                        Student Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StudentsNotAttend)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="radio custom-checkbox" value="@item.Account" name="student[]" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Account)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mssv)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StudentName)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" value="@Model.Class.ClassId" />
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Assign">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" asp-page="Edit" asp-page-handler="Delete">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Student</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove this student out of the class?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                        <input type="hidden" name="id" id="id" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    	<div id="myFailModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
                    <h4 class="modal-title">Message</h4>
					</div>
                <div id="MyModalFailAlertBory" class="modal-body alert alert-danger align-items-center text-center">
						Failed!
					</div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                </div>
		</div>
	</div>
	</div>

    <div id="mySuccessModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Message</h4>
                </div>
                <div id="MyModalSuccessAlertBory" class="modal-body alert alert-success align-items-center text-center">
                    success
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                </div>
            </div>
        </div>
    </div>

    <div id="assignCoworker" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" asp-page="Edit" asp-page-handler="AssignCoworker">
                    <div class="modal-header">
                        <h4 class="modal-title">Chose a Co-Worker</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        @if (Model.Lecturers.Count > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr class="table100-head">
                                        <th>
                                        </th>
                                        <th>
                                            Lecturer ID
                                        </th>
                                        <th>
                                            Lecturer Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Lecturers)
                                    {
                                        <tr>
                                            <td>
                                                <input type="radio" class="radio custom-checkbox" value="@item.Account" name="lecturer" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Account)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LecturerName)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div style="text-align: center">
                                <p>No lecturer left.</p>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" value="@Model.Class.ClassId" />
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        @if (Model.Lecturers.Count > 0)
                        {
                            <input type="submit" class="btn btn-danger" value="Assign">
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

