﻿@page
@using Microsoft.EntityFrameworkCore
@using QuizSystem.Models
@model QuizSystem.Pages.ClassManagement.indexModel

@{
	ViewData["Title"] = Model.CourseCode ?? "Class management";
	var mySystem = new OnlineQuizContext();
            List<Class> Class = mySystem.Classes.Include(x => x.Course)
		.Include(x => x.LecturerAccountNavigation).Where(x => x.CourseId == Model.CourseID).ToList();
            List<Lecturer> Lecturers = mySystem.Lecturers
                .Include(x => x.AccountNavigation).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Bootstrap CRUD Data Table for Database with Modal Form</title>
	<link rel="stylesheet" href="~/css/classes/index.css" type="text/css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<style>
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	
.btn-popup{
  background: #2A4365;
    border-radius: 5px;
    color: white;
}

	.table > :not(:last-child) > :last-child > * {
		border: none; 
	}

.add-search-box{
	display: flex;
}

	#filterDate {
		display: inline-block;
		padding: 8px;
		margin-bottom: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 14px;
		color: black;
		background-color: white;
	}

		#filterDate option {
			font-size: 14px;
		}
</style>
<script type="text/javascript">
	$(document).ready(function () {
		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();

		$('table .delete').on('click', function (){
			var id = $(this).parent().find('#id').val();
			$('#deleteEmployeeModal #id').val(id);
		});
	});

	function openFailModal(strMessage) {
		var myDiv = document.getElementById("MyModalFailAlertBory");
		myDiv.innerHTML = strMessage;
		$('#myFailModal').modal('show');
	}

	$(document).ready(function () {
		var msg = "@TempData["FailMessage"]";
		if (msg) openFailModal(msg);
	});


	function openSuccessModal(strMessage) {
		var myDiv = document.getElementById("MyModalSuccessAlertBory");
		myDiv.innerHTML = strMessage;
		$('#mySuccessModal').modal('show');
	}

	$(document).ready(function () {
		var msg = "@TempData["SuccessMessage"]";
		if (msg) openSuccessModal(msg);
	});

	

</script>


<body>
    @*<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>*@
    <div id="addEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" asp-page="index" asp-page-handler="Create">
				<div class="modal-header">						
					<h4 class="modal-title">Add Class</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
							<div class="form-group">
								<label>Class Name</label>
								<input name="name" type="text" class="form-control" required>
							</div>
							
								<input name="course" value="@Model.CourseID" type="hidden" class="form-control" required>
							
							<div class="form-group">
								<label>Start Date</label>
								<input name="startdate" type="date" class="form-control" required>
							</div>
							<div class="form-group">
								<label>End Date</label>
								<input name="enddate" type="date" class="form-control" required>
							</div>
						</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-popup" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>

	<div class="container-xl">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-6">
							<h2>Manage <b>Class of @Model.CourseCode</b></h2>
						</div>
						<div class="col-sm-6">
							<div class="add-search-box"
							<div class="search-box">
								<input type="text" id="search"  placeholder="Search by Class Name...">
								<button id="search-button" class="btn btn-primary" onclick="search()">Search</button>
					         </div>
							 <div class="filter-box">
	<label for="filterDate">Filter by Date:</label>
	<select id="filterDate">
		<option value="all">All Classes</option>
		<option value="past">Past Classes</option>
		<option value="ongoing">Ongoing Classes</option>
		<option value="upcoming">Upcoming Classes</option>
	</select>
</div>

							<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Class</span></a>
				        
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ClassName</th>
							<th>StartDate</th>
							<th>EndDate</th>
							<th>Course</th>
							<th>Lecturer</th>
							
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Class)
						{
							<tr class="class-row">
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.ClassName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.StartDate)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.EndDate)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Course.CourseCode)
								</td>
								<td>
									@if (item.LecturerAccount == null)
									{
											<p>Not assigned yet</p>
									}else{
										@Html.DisplayFor(modelItem => item.LecturerAccount)
									}
								</td>
								<td>
									<a asp-page="./Details" asp-route-id="@item.ClassId">
										<i class="material-icons description">&#xe873;</i>

									</a>
									<a asp-page="./Edit" asp-route-id="@item.ClassId"><i class="material-icons" title="Edit">&#xE254;</i></a>
									@if (item.StartDate <= DateTime.Today && DateTime.Today < item.EndDate)
									{
									}else{
									<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
									}
									<input type="hidden" name="id" id="id" value="@item.ClassId" />
								</td>
							</tr>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a class="btn btn-info " asp-page="/Courses/ManageCourses">Back</a>
			</div>
		</div>
	</div>


<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
				<form method="post" asp-page="index" asp-page-handler="Delete">
					<div class="modal-header">						
					<h4 class="modal-title">Delete Class</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete">
						<input type="hidden" name="id" id="id" />
						<input type="hidden" name="courseid" value="@Model.CourseID" />

				</div>
			</form>
		</div>
	</div>
</div>


	<div id="myFailModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Notice</h4>
					</div>
					<div id="MyModalFailAlertBory" class="modal-body alert alert-danger align-items-center text-center">
						Failed!
					</div>
				<div class="modal-footer">
					@*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
				</div>
		</div>
	</div>
	</div>

	    <div id="mySuccessModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Notice</h4>
                </div>
				<div id="MyModalSuccessAlertBory" class="modal-body alert alert-success align-items-center text-center">
                    success
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                </div>
            </div>
        </div>
    </div>
	<script src="~/js/searchClassByName.js"></script>
	<script src="~/js/filterClassByDate.js"></script>

		
</body>
</html>
