﻿@page
@model QuizSystem.Pages.ClassManagement.ProfileModel
@{
    ViewData["Title"] = (Model.IsStudent ? "Student " : "Lecturer ") + "Profile";
}
<link rel="stylesheet" href="~/css/Login.css" type="text/css" />
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="container">
            <div class="container">
                @if (ViewData["Title"] != null)
                {
                    <p class="display-5" style="text-align: center;">@ViewData["Title"].ToString().ToUpper()</p>
                    <hr class="solid m-4" />
                }
                <div class="d-flex flex-column justify-content-center align-items-center">
                    @using (Html.BeginForm("Update_User", "UserManagement", FormMethod.Post, new { @class = "form-group form w-75", style = "background: rgba(0, 0, 0, 0.03);", onsubmit = "return ValidateUpdateUser();" }))
                    {
                        <div class="row mb-3">
                            <div class="col-sm-4 col-lg-3 ">
                                @Html.DisplayNameFor(model => model.UserData.Account /*, new { @class="col-sm-4 col-lg-3 "}*/)
                            </div>
                            <div class="col-sm-8 col-lg-9">
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.UserData.Account)
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4 col-lg-3 ">
                                @Html.DisplayNameFor(model => model.UserData.Email)
                            </div>
                            <div class="col-sm-8 col-lg-9">
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.UserData.Email)
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4 col-lg-3 ">
                                @Html.DisplayNameFor(model => model.UserData.IsActive)
                            </div>
                            <div class="col-sm-8 col-lg-9">
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.UserData.IsActive, "string")
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4 col-lg-3 ">
                                @Html.DisplayNameFor(model => model.UserData.Role)
                            </div>
                            <div class="col-sm-8 col-lg-9">
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.UserData.Role.Role1)
                                    @*@Html.DropDownList("role", Model.UserData.Role?.Role1!= null ? new SelectList(Model.RoleList.Select(e => e.Role1), Model.UserData.Role?.Role1) : new SelectList(Model.RoleList.Select(e => e.Role1)), " -- Select Role -- ", new { placeholder = "Email", required=true, @class="", onchange = "changeTemplate()"})*@
                                </div>
                            </div>
                        </div>
                        <hr class="solid m-4" />
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.IsStudent)
                        {
                            <div id="infoStudent"
                         @if (!Model.UserData.Role.Role1.Equals("Student")) {
                         @:class="InfoTemplate d-none"
                         }
                         else {
                         @:class="InfoTemplate"
                         }>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.Mssv)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.Mssv)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.StudentName)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.StudentName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.Phone)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.Phone)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.Dob)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.Dob, "date")
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.Major)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.Major)
                                            @*@Html.DropDownListFor(model => model.UserData.Student.Major, new SelectList(Models.Majors.MajorList.Majors, Model.UserData.Student?.Major), "-- Select Major --", new { @class=""})*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        else
                        {
                            <div id="infoLecturer"
                         @if (!Model.UserData.Role.Role1.Equals("Lecturer")) {
                         @:class="InfoTemplate d-none"
                         }
                         else {
                         @:class="InfoTemplate"
                         }>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Lecturer.LecturerName)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Lecturer.LecturerName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Lecturer.Phone)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Lecturer.Phone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <input type="button" style="background-color:#2A4365; color: white;" class="btn" value="Return to class management" onclick="document.getElementById('btnReturn').click();" />
                        </div>
                        Html.EndForm();
                    }
                    @* <table class="table mt-3 mx-4">
                    <thead>
                    <tr>
                    <th class="col">
                    @Html.DisplayNameFor(m => new Models.Class().ClassId)
                    </th>
                    <th class="col">
                    @Html.DisplayNameFor(m => new Models.Class().ClassName)
                    </th>
                    <th class="col">
                    @Html.DisplayNameFor(m => new Models.Class().CourseId)
                    </th>
                    <th class="col">
                    @Html.DisplayNameFor(m => new Models.Class().Course.CourseName)
                    </th>
                    <th class="col">
                    @Html.DisplayNameFor(m => new Models.Class().StartDate)
                    </th>
                    <th class="col">
                    @Html.DisplayNameFor(m => new Models.Class().EndDate)
                    </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var c in Model.ClassList) {
                    <tr>
                    <th scope="row">@Html.DisplayFor(m => c.ClassId)</th>
                    <td>@Html.DisplayFor(m => c.ClassName)</td>
                    <td>@Html.DisplayFor(m => c.CourseId)</td>
                    <td>@Html.DisplayFor(m => c.Course.CourseName)</td>
                    <td>@Html.DisplayFor(m => c.StartDate, "date")</td>
                    <td>@Html.DisplayFor(m => c.EndDate, "date")</td>
                    </tr>
                    }
                    </tbody>
                    </table> *@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-none d-md-block col-md-3 sidebar" style="overflow-y:auto;">
    <div class="container my-1 d-flex justify-content-center">
        <a onclick="window.history.back()" id="btnReturn" class="btn btn-primary" hidden>
            Return to class
        </a>
    </div>
</div>

