﻿@page
@model QuizSystem.Pages.ClassManagement.StudentListModel
@{
    ViewData["Title"] = "Student list";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/student_list.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="page-title">
            <h2>STUDENTS LIST</h2>
        </div>

        <div>
            <h4>Class: @Model.Class.ClassName</h4>
            <h4>Course: @Model.Course.CourseCode - @Model.Course.CourseName</h4>
        </div>
        
            <div class="search-section d-flex">
                <div class="search-bar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input id="search-name" type="text" placeholder="MSSV" />
                </div>
                <div class="search-btn" onclick="search()">
                    Search
                </div>
            </div>
       
        <div class="student-list-container">
            <div class="list-title">
                List of Students
            </div>
            <div class="student-title">
                <div class="student-header">
                    <div class="stt-header">STT</div>
                    <div class="student-mssv-header">MSSV</div>
                    <div class="student-name-header">Student Name</div>
                    <div class="student-dob-header">Date of Birth</div>
                    <div class="student-inf-header">Information</div>
                </div>
                </div>
            <div class="student-list">
                @for (int i = 0; i < Model.students.Count; i++)
                {
                    
                    <div class="student">
                        <div class="stt">@(i + 1)</div>
                        <div class="student-mssv">@Model.students[i].Mssv</div>
                        <div class="student-name">@Model.students[i].StudentName</div>
                        <div class="student-dob">@Model.students[i].Dob</div>
                        <div class="action d-flex">
                          
                           <a class="detail-student" asp-page="Profile" asp-route-u="@Model.students[i].Account" asp-route-id="@Model.Class.ClassId">
                                <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <script src="~/js/searchStudentByMssv.js"></script>
    </body>>
</html>