﻿@page
@model QuizSystem.Pages.TakingExams.ClassDetailsModel
@{
    ViewData["Title"] = "Class Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StudentPage/ExamList.css" />

</head>

<body>
    <nav aria-label="breadcrumb" class="main-breadcrumb" style="margin:15px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/StudentDashboard">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="/TakingExams/MyCourses">My Courses</a></li>
            <li class="breadcrumb-item" aria-current="page">@Model.Class.ClassName</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div style="text-align:right; margin-top: 20px">
            <h2>Course: @Model.Class.Course.CourseCode</h2>
            <p>@Model.Class.Course.CourseName</p>
        </div>

        <div class="tm-body">
            <div class="tm-sidebar">
                <div class="sidebar-content">
                    <p style="font-size:10px">Start Date: @Model.Class.StartDate End Date: @Model.Class.EndDate</p>
                    <p>Class: @Model.Class.ClassName</p>
                    <p>Lecturer: <a asp-page="Profile" asp-route-u="@Model.Class.LecturerAccount" asp-route-id="@Model.Class.ClassId">@Model.Class.LecturerAccount</a></p>
                    <p>Course: @Model.Class.Course.CourseCode</p>
                </div>
            </div>

            <div class="tm-main-content">


                <div id="about" class="tm-content-box">
                    @foreach (var item in Model.Exams) {
                        <div class="tm-box-pad tm-bordered-box">
                            <h2 class="tm-section-title">@item.Title</h2>
                            <p>@item.Summary</p>
                            <a asp-page="ExamDetails" asp-route-examID="@item.ExamId" class="tm-button tm-button-normal">View</a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>

        function setNavbar() {
            if ($(document).scrollTop() > 160) {
                $('.tm-sidebar').addClass('sticky');
            } else {
                $('.tm-sidebar').removeClass('sticky');
            }
        }

        $(document).ready(function () {



            setNavbar();

            $(window).scroll(function () {
                setNavbar();
            });


        });
    </script>

</body>
</html>
