﻿@page
@model QuizSystem.Pages.TakingExams.ExamDetailsModel
@{
    ViewData["Title"] = "Exam Details";
    string? TimerNormalized = null;
    if (Model.exam.Timer != null) {
        long timer = (long)Model.exam.Timer;
        if (timer >= 60) {
            TimerNormalized = "";
            if (timer >= 3600) {
                //hours
                TimerNormalized += (timer / 3600) + " hour";
                TimerNormalized += (timer / 3600) > 1 ? "s" : "";
                //get minutes and seconds
                timer = timer - ((timer / 3600) * 3600);
            }
            //minutes
            TimerNormalized += " " + (timer / 60) + " minute";
            TimerNormalized += (timer / 60) > 1 ? "s" : "";
            //seconds
            TimerNormalized += (timer % 60) != 0 ? " " + (timer % 60) + " second" : "";
            TimerNormalized += (timer % 60) > 1 ? "s" : "";
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/StudentPage/examDetails.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Exams</title>
</head>
<body>

    @Html.Partial("_NoticeMessagePartial")
    @if (TempData["ExamComplete"] != null) {
        <div class=" modal fade" id="quizCompleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="quizCompleteHeader">Quiz Complete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Congratulation on finishing the exam!</p>
                        <p id="quizCompleteScore">Your score is: @TempData["ExamCompleteScore"]</p>
                    </div>
                    <div class="modal-footer">
                        @if ((bool?)TempData["ExamCompleteView"] == true) {
                            <a asp-page="Quiz_Log" asp-route-id="@TempData["ExamComplete"]" class="btn btn-secondary">View Quiz Log</a>
                        }
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/StudentDashboard">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="/TakingExams/MyCourses">My Courses</a></li>
            <li class="breadcrumb-item"><a asp-page="/TakingExams/ClassDetails" asp-route-id="@Model.Class.ClassId">@Model.Class.Course.CourseCode</a></li>
            <li class="breadcrumb-item" aria-current="page">@Model.exam.Title</li>
        </ol>
    </nav>
    <div class="container-xl px-4 mt-4">
        <div class="row">

            <div class="col-xl-12">

                <div class="card mb-4">
                    <div class="card-header">@Model.exam.Title</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <p class="small mb-1">Attempts: @Model.exam.TakingTimes</p>
                            <p class="small mb-1">Time Limit: @Model.exam.Timer seconds @(TimerNormalized != null ? "(" + TimerNormalized + ")": "")</p>
                            <p class="small mb-1">Grading method: Highest grade</p>
                            <p class="small mb-1">@Model.exam.StartDate - @Model.exam.EndDate</p>
                        </div>
                        @if (Model.TakeExams.Count > 0) {
                            <h6>Summary of your previous attempts</h6>
                            <hr>
                            <div class="course-list head">
                                <div class="course">
                                    <div class="stt col-xl-2"></div>
                                    <div class="course-code col-xl-3">Status</div>
                                    <div class="course-code col-xl-4">Submit Time</div>
                                    <div class="course-name col-xl-1">Score/@Model.exam.Score</div>
                                    <div class="action d-flex col-xl-2">
                                        <a>
                                            Log
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        @for (int i = 0; i < Model.TakeExams.Count; i++) {

                            <div class="course-list">
                                <div class="course">
                                    <div class="stt col-xl-2">@(i + 1)</div>
                                    <div class="course-code col-xl-3">@Model.TakeExams[i].Status</div>
                                    <div class="course-code col-xl-4">@Model.TakeExams[i].EndDate</div>
                                    <div class="course-name col-xl-1">@Model.TakeExams[i].Score</div>
                                    <div class="action d-flex col-xl-2">
                                        @if (@Model.TakeExams[i].Status == "Finished") {
                                            @if (Model.exam.Permission == true) {
                                                <a asp-page="Quiz_Log" asp-route-id="@Model.TakeExams[i].TakeExamId">
                                                    Review
                                                </a>
                                            }
                                            else {
                                                <div>
                                                    Not Permission
                                                </div>
                                            }
                                        }
                                        else {
                                            <a>
                                                Continue
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="re-attempt">
                            @if (Model.TakeExams.Count < Model.exam.TakingTimes && Model.exam.StartDate <= DateTime.Now && Model.exam.EndDate > DateTime.Now && Model.questionList.Count >0) {
                                @using (Html.BeginForm("TakeExam", "TakingExams", FormMethod.Post)) {
                                    <input type="hidden" name="examID" value="@Model.exam.ExamId" />
                                    <button type="submit" class="tm-button tm-button-normal">ATTEMPT</button>
                                    Html.EndForm();
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#quizCompleteModal').modal('show');
        });
    </script>
</body>

