﻿@page
@model QuizSystem.Pages.TakingExams.MyCoursesModel
@{
	ViewData["Title"] = "Courses";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/StudentPage/classList.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/StyleAlert.css" type="text/css" />
	<link rel="stylesheet" href="~/css/StudentPage/SearchDiv.css" type="text/css" />
	<link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    


    <section id="explore" class="explore">
			<div class="container">
				<div class="section-header">
					<form method="post" asp-page="MyCourses" asp-page-handler="Search">
						<div class="search-section d-flex">
							<div class="search-bar">
								<i class="fa fa-search" aria-hidden="true"></i>
								<input name="keyword" type="text" placeholder="Course code or Class code ..." />
							</div>
							<div>
								<input class="search-btn" type="submit" value="Search"/>
							</div>
						</div>
					</form>
				</div>
				<div class="explore-content">
					<div class="row">
						@foreach (var item in Model.ClassList)
					{
						<div class=" col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how-works-icon">
									<i class="material-icons description">&#xe873;</i>
								</div>
							<h6>@item.Class.Course.CourseCode - @item.Class.ClassName</h6>
								<p>
									@item.Class.Course.CourseName
								</p>
                                <a class="welcome-hero-btn how-work-btn" asp-page="/TakingExams/ClassDetails" asp-route-id="@item.ClassId">View</a>
								@if (item.Class.EndDate >= DateTime.Today)
								{
								<label style="display:block">
									<div class="alert success">
										<span class="alertText">
											On-Going
										</span>
									</div>
								</label>
								}
								@if (item.Class.EndDate < DateTime.Today)
								{
									<label style="display:block">
										<div class="alert error">
											<span class="alertText">
												Completed
											</span>
										</div>
									</label>
								}
							</div>
						</div>
					}
				</div>
			</div>
		</div>

		</section>
   
</body>
</html>