﻿@page
@model QuizSystem.Pages.TakingExams.Quiz_LogModel
@{
    ViewData["Title"] = "View Quiz Log";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleAlert.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
</head>
<style>
    a{
        text-decoration: none
    }

    .error {
        background-color: #f18787 !important;
        border: 1px solid #EDD;
        color: #3d3434;
    }

    .success {
        background-color: #4c76fc !important;
        border: 1px solid #DED;
        color: #9A9;
    }
</style>
<body>
    <nav aria-label="breadcrumb" class="main-breadcrumb" style="margin:15px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/StudentDashboard">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="/TakingExams/ExamDetails" asp-route-examID="@Model.Exam.ExamId">@Model.Exam.Title</a></li>
            <li class="breadcrumb-item" aria-current="page">View Log</li>
        </ol>
    </nav>
<div class="row">
    <div class="col-xl-12">
        <div class="card mb-4" style="margin: 15px">
                <div class="card-header">Score of @Model.Exam.Title: @Model.TakeExam.Score/@Model.Exam.Score</div>
            </div>
        </div>
    <div class="col-sm-12 col-md-9 ">
        <div class="container d-flex flex-column">
            @foreach (var question in Model.QuestionExams)
            {
                <div>
                    <p class="h-6 question" style="font-weight:bold; margin-top:20px">@question.Content</p>
                    <div class="answers">
                        @foreach (var answer in question.QuestionExamAnswers)
                        {
                            @if (Model.TakeExam.TakeAnswers.FirstOrDefault(c => c.AnswerId == answer.AnswerId) != null)
                                {
                                    @if (answer.Correct == true)
                                    {
                                        <div class="success" style="color: #212529">
                                            @if (question.Type == false)
                                            {
                                                <div class="form-check">
                                                    <input type="radio" value="@answer.AnswerId" disabled checked />
                                                    <label for="@answer.AnswerId">@answer.Content</label>
                                                </div>
                                            }else{
                                                <div class="form-check">
                                                    <input type="checkbox" value="@answer.AnswerId" disabled checked />
                                                    <label for="@answer.AnswerId">@answer.Content</label>
                                                </div>
                                            }
                                            </div>
                                        
                                    }else{
                                            <div class="error">
                                            @if (question.Type == false)
                                            {
                                                <div class="form-check">
                                                    <input type="radio" value="@answer.AnswerId" disabled checked />
                                                    <label for="@answer.AnswerId">@answer.Content</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-check">
                                                    <input type="checkbox" value="@answer.AnswerId" disabled checked />
                                                    <label for="@answer.AnswerId">@answer.Content</label>
                                                </div>
                                            }
                                            </div>
                                    }
                                    
                                }else{
                                    @if (question.Type == false)
                                    {
                                        <div class="form-check">
                                            <input type="radio" value="@answer.AnswerId" disabled />
                                            <label for="@answer.AnswerId">@answer.Content</label>
                                        </div>
                                    }else{
                                        <div class="form-check">
                                            <input type="checkbox" value="@answer.AnswerId" disabled />
                                            <label for="@answer.AnswerId">@answer.Content</label>
                                        </div>
                                    }
                                }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
</body>
</html>