﻿@page
@model QuizSystem.Pages.TakingExams.TakeExamModel
@{
    int n = 0;
    List<string> questionIdList = new List<string>();
    ViewData["Title"] = Model.ExamTitle ?? "Take Exam";
}
<style>
    .question-button {
        border: 2px solid #2A4365;
        border-radius: 7px;
        color: #2A4365;
        min-width: 29px;
        max-height: 40px;
    }

        .question-button:hover {
            color: white;
            background-color: #2A4365;
        }

    .ticked {
        background-color: limegreen;
        color: white;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                              supported by Chrome, Edge, Opera and Firefox */
    }

    .current-badge {
        background-color: #2A4365;
        top: -4em;
        /* right: 50%; */
        position: relative;
        font-size: 75%;
        line-height: 0;
        vertical-align: baseline;
        border-radius: 35px;
        /* padding: 20% 80%; */
        width: 100%;
    }

    sup {
        background-color: #F28C28;
        top: -4.5em;
        right: -1.2em;
        position: relative;
        font-size: 75%;
        line-height: 0;
        vertical-align: baseline;
        border-radius: 5px;
    }


    .flag-button {
        border: 2px solid #F28C28;
        border-radius: 7px;
        color: #F28C28;
    }

        .flag-button:hover {
            color: white;
            background-color: #F28C28;
        }

    .flag-on {
        color: white;
        background-color: #F28C28;
    }

        .flag-on:hover {
            color: #F28C28;
            background-color: white;
        }
</style>
<body class="app-container" style="height:100%; background-color: rgba(0, 0, 0, 0.03)">
    <div class="modal fade" id="confirmSubmitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmSubmitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmSubmitModalLabel">Confirm Submit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to submit this exam?</p><p id="confirmSubmitTicked" class="d-none">

                        There are unchecked question(s).</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="clickSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <input type="number" hidden id="timer" value="@(Model.Timer - 1000)" />
    <div class="container-fluid">
        <div class="d-flex flex-column-reverse flex-md-row">
            <div class="col-sm-12 col-md-9 ">
                <div class="container d-flex flex-column justify-content-center align-items-center p-5" style="height: 80vh; ">
                    <div class="p-5 bg-white w-100 shadow" style="min-height: 7rem;">
                        @using (Html.BeginForm("SubmitExam","TakingExams", FormMethod.Post, new { @class = "form row", id = "quizForm" })) {
                            <input type="hidden" name="__examId" value="@Model.ExamId" />
                            @if (Model.TakeExamId != null) {
                                <input type="hidden" name="__takeExamId" value="@Model.TakeExamId" />
                            }
                            <div class="col-0 col-lg-1"></div>
                            <div class=" d-flex flex-column align-content-center justify-content-center col-10 col-lg-11">
                                @foreach (var question in Model.Questions) {
                                    <div id="q@(++n)" class="question m-5 @(n != 1 ? "d-none" : "")">
                                        <div class="row">
                                            <p class="col-10 display-6 mb-4 ">@question.Content</p>
                                            <div class="col-2">
                                                <button type="button" class="btn flag-button shadow-sm" onclick="toggleFlag(@n)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="answers ps-4">
                                            @foreach (var answer in question.Answers) {
                                                <div class="form-check h5">
                                                    @if (question.IsSingleChoice) {
                                                        @Html.RadioButton(expression: question.QuestionId.ToString(), value: answer.AnswerId, false, new { @checked = "unchecked", id = answer.AnswerId, onclick = $"checkIfTicked({question.QuestionId})"})
                                                    }
                                                    else {
                                                        <input type="checkbox" name="@question.QuestionId.ToString()" id="@answer.AnswerId" value="@answer.AnswerId" onclick="checkIfTicked(@question.QuestionId)" />
                                                    }
                                                    <label class="noselect" for="@answer.AnswerId">@answer.Content</label>
                                                </div>
                                            }
                                        </div>
                                        <div class="w-100 row mt-4">
                                            <div class="col-6">
                                                @if (n != 1) {
                                                    <button type="button" class="btn w-100" style="background-color:#2A4365; color: white;" onclick="prevQ(@n)">Previous Question</button>
                                                }
                                            </div>
                                            <div class="col-6">
                                                @if (n != Model.Questions.Count()) {
                                                    <button type="button" class="btn w-100" style="background-color:#2A4365; color: white;" onclick="nextQ(@n)">Next Question</button>
                                                }
                                                else {
                                                    <button type="button" class="btn w-100" style="background-color:#2A4365; color: white;" data-bs-toggle="modal" data-bs-target="#confirmSubmitModal">Submit</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    questionIdList.Add(question.QuestionId.ToString());
                                }
                            </div>
                            <input type="submit" hidden id="btnSubmit" />
                            Html.EndForm();
                        }
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex align-items-center justify-content-center col-md-3  sidebar" style="overflow-y:auto;">
                <div class="m-4">
                    <div class="d-flex flex-column justify-content-center">
                        <p class="text-center display-5 text-primary" id="countdown">0</p>
                    </div>
                    <div class="container d-flex flex-row flex-wrap my-3">
                        @for (int i = 1; i <= Model.Questions.Count(); i++) {
                            <button id="questionBtn@(questionIdList[i-1])" class="question-button col-3 col-lg-2 col-xl-1 m-1" onclick="gotoQuestion(@i)">
                                <p>@i</p>
                                <sup id="flag@(i)" style="visibility: hidden;">
                                    <span class="badge badge-pill">
                                    </span>
                                </sup>
                                <span id="currentBadge@(i)" class="current-badge d-none badge badge-pill"> </span>
                            </button>
                        }
                    </div>
                    <input type="button" value="Submit" class="btn" style="background-color:#2A4365; color: white;" data-bs-toggle="modal" data-bs-target="#confirmSubmitModal" />
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="~/js/TakeExam.js"></script>
    <script>
        $(document).ready(function () {
            var timer = document.getElementById("timer");
            tickTimer();
            setTimeout(clickSubmit, timer.value);
            gotoQuestion(1);
        });

        const interval = setInterval(function () {
            tickTimer();
        }, 1000);

        const modal = document.getElementById("confirmSubmitModal");
        modal.addEventListener("show.bs.modal", event => {
            var buttons = document.querySelectorAll(".question-button");
            var isUnticked = false;
            for (var b of buttons) {
                if (!b.classList.contains("ticked")) {
                    isUnticked = true;
                    break;
                }
            }
            if (isUnticked) {
                if (modal.querySelector("#confirmSubmitTicked").classList.contains("d-none")) modal.querySelector("#confirmSubmitTicked").classList.remove("d-none");
            }
            else {
                if (!modal.querySelector("#confirmSubmitTicked").classList.contains("d-none")) modal.querySelector("#confirmSubmitTicked").classList.add("d-none");
            }
        });

        function tickTimer() {
            var distance = document.getElementById("timer").value; 3
            if (distance <= 0) {
                clearInterval(interval);
            }
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("timer").value = distance - 1000;

            var count = "";
            if (days != 0) {
                if (days < 10) count += "0";
                count += days + ":";
            }
            if (hours != 0 || count != "") {
                if (hours < 10) count += "0";
                count += hours + ":";
            }
            if (minutes != 0 || count != "") {
                if (minutes < 10) count += "0";
                count += minutes + ": ";
            }
            if (count === "") {
                if (seconds != 0) count += seconds + "s";
            }
            else {
                if (seconds < 10) count += "0";
                count += seconds + "";
            }
            if (count === "") count = "0";

            document.getElementById("countdown").innerText = count;
        }

        function clearTImer() {
            clearInterval(myInterval);
        }
        function clickSubmit() {
            document.getElementById("btnSubmit").click();
        }
        function checkIfTicked(questionId) {
            var form = document.querySelector("#quizForm");
            if (form != null) console.log("form");
            var options = form.querySelectorAll("input[name='" + questionId + "']");
            if (options != null) console.log("options");
            var button = document.getElementById("questionBtn" + questionId);
            if (button != null) console.log("button");

            var isChecked = false;
            for (var o of options) {
                if (o.checked) isChecked = true;
            }
            if (isChecked) {
                if (!button.classList.contains("ticked")) {
                    button.classList.add("ticked");
                }
            }
            else {
                if (button.classList.contains("ticked")) {
                    button.classList.remove("ticked");
                }
            }
        }
    </script>
</body>