﻿body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
hr{
    height:0;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem !important;
}
hr:not([size]) {
    height: 0 !important;
}
.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}


.container-table100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px
}

.wrap-table100 {
    width: 1170px
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

    table * {
        position: relative
    }

    table td, table th {
        padding-left: 8px
    }

    table thead tr {
        height: 60px;
        background: #2A4365
    }

    table tbody tr {
        height: 50px
    }

        table tbody tr:last-child {
            border: 0
        }

    table td, table th {
        text-align: left
    }

        table td.l, table th.l {
            text-align: right
        }

        table td.c, table th.c {
            text-align: center
        }

        table td.r, table th.r {
            text-align: center
        }

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset
}

    tbody tr:hover {
        color: #555;
        background-color: #f5f5f5;
        cursor: pointer
    }

@media screen and (max-width: 992px) {
    table {
        display: block
    }

        table > *, table tr, table td, table th {
            display: block
        }

        table thead {
            display: none
        }

        table tbody tr {
            height: auto;
            padding: 37px 0
        }

            table tbody tr td {
                padding-left: 40% !important;
                margin-bottom: 24px
            }

                table tbody tr td:last-child {
                    margin-bottom: 0
                }

                table tbody tr td:before {
                    font-family: OpenSans-Regular;
                    font-size: 14px;
                    color: #999;
                    line-height: 1.2;
                    font-weight: unset;
                    position: absolute;
                    width: 40%;
                    left: 30px;
                    top: 0
                }

    .column4, .column5, .column6 {
        text-align: left
    }

    .column4, .column5, .column6, .column1, .column2, .column3 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}

@media(max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px
    }
}
.tbhead{
    width:100% !important;
}
.assign{
    text-align:right
}

.custom-checkbox {
    position: relative;
}

    .custom-checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        margin: 5px 0 0 3px;
        z-index: 9;
    }

    .custom-checkbox label:before {
        width: 18px;
        height: 18px;
    }

    .custom-checkbox label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        background: white;
        border: 1px solid #bbb;
        border-radius: 2px;
        box-sizing: border-box;
        z-index: 2;
    }

    .custom-checkbox input[type="checkbox"]:checked + label:after {
        content: '';
        position: absolute;
        left: 6px;
        top: 3px;
        width: 6px;
        height: 11px;
        border: solid #000;
        border-width: 0 3px 3px 0;
        transform: inherit;
        z-index: 3;
        transform: rotateZ(45deg);
    }

    .custom-checkbox input[type="checkbox"]:checked + label:before {
        border-color: #03A9F4;
        background: #03A9F4;
    }

    .custom-checkbox input[type="checkbox"]:checked + label:after {
        border-color: #fff;
    }

    .custom-checkbox input[type="checkbox"]:disabled + label:before {
        color: #b8b8b8;
        cursor: auto;
        box-shadow: none;
        background: #ddd;
    }

select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 100%;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    border-radius: 0.25em;
    border: 1px solid #ced4da;
    cursor: pointer;
}
option {
    color: inherit;
    background-color: var(--option-bg);
}
