﻿* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #a09e9c;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}
.material-icons {
    line-height: inherit !important;
    font-size: 35px !important;
}
section {
    text-align: center;
}

.search-bar {
    width: 90%;
    padding: 10px 18px;
    background: #f5f5f5;
    border-radius: 25px;
}

    .search-bar input {
        margin-left: 10px;
        background: transparent;
        width: 95%;
        border: none;
        outline: none;
    }

.search-btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

    .search-btn:hover {
        background: #2A4365;
        color: #fff;
    }

h2, h6{
    margin: 0;
    color: #343a3f;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

    h6:hover {
        color: #343a3f;
    }

p {
    margin: 0;
    color: #767f86;
    font-size: 14px;
    line-height: 1.8;
    text-transform: initial;
}

a, a:hover, a:active, a:focus {
    display: inline-block;
    text-decoration: none !important;
    color: #343a3f;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.welcome-hero-btn.how-work-btn {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    background: transparent;
    color: #767f86;
    border: 1px solid #d3d6d9;
    border-radius: 3px;
    text-decoration: none !important;
    padding: 10px 25px;
    width: 100px;
    height: auto
}

.works {
    padding: 0 0 90px;
}

.works-content {
    margin-top: 73px;
}

.single-how-works {
    text-align: center;
    padding: 50px 42px;
    border-radius: 3px;
    box-shadow: 0 0px 5px rgba(71,71,71,.2);
    margin-bottom: 30px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-how-works-icon {
    display: inline-block;
    color: #50616c;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #eef2f6;
    border-radius: 50%;
}

.single-how-works h2 a {
    font-size: 18px;
    margin: 35px 0 20px;
}

    .single-how-works h2 a span {
        text-transform: lowercase;
    }

.single-how-works p {
    margin-bottom: 25px;
    text-transform: initial;
}

.single-how-works-icon [class^="flaticon-"]:before, .single-how-works-icon [class*=" flaticon-"]:before, .single-how-works-icon [class^="flaticon-"]:after, .single-how-works-icon [class*=" flaticon-"]:after {
    font-size: 35px;
}

.single-how-works:hover .single-how-works-icon [class^="flaticon-"]:before, .single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:before, .single-how-works:hover .single-how-works-icon [class^="flaticon-"]:after, .single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:after {
    color: #ff545a;
}


.single-how-works:hover h6, .single-how-works:hover p {
    color: #fff;
}

.single-how-works:hover .single-how-works-icon {
    background: #fff;
}

.single-how-works:hover .welcome-hero-btn.how-work-btn {
    background: #fff;
    color: #2A4365;
}

.single-how-works:hover {
    box-shadow: 0 0px 10px rgba(71,71,71,.4);
    background: #2A4365;
}

.explore {
    padding: 117px 0 95px;
    background: #f8fafb;
}

.explore-content {
    margin-top: 78px;
}

.single-explore-item {
    background: #fff;
    border: 1px solid #edeff1;
    border-radius: 3px;
    margin-bottom: 25px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-explore-img {
    position: relative;
    overflow: hidden;
}

    .single-explore-img:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(162,172,177,.2);
    }

.single-explore-img-info {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-explore-item:hover .single-explore-img-info {
    opacity: 1;
    visibility: visible;
    bottom: 0px
}

.single-explore-img-info button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 83px;
    height: 21px;
    line-height: 21px;
    background: #2A4365;
    border-radius: 3px;
    color: #fcfcfc;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
}

.single-explore-image-icon-box {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

    .single-explore-image-icon-box ul li {
        display: inline-block;
        width: 30px;
        height: 28px;
        line-height: 28px;
        background: #252d32;
        text-align: center;
        margin-left: 5px;
        color: #cbcccd;
    }

        .single-explore-image-icon-box ul li:hover i {
            color: #267dff;
        }

.single-explore-txt {
    padding: 26px 25px 24px 15px;
}

    .single-explore-txt.bg-theme-1 .explore-rating {
        background: #70a9ff;
    }

    .single-explore-txt.bg-theme-2 .explore-rating {
        background: #00c61c;
    }

    .single-explore-txt.bg-theme-3 .explore-rating {
        background: #ffcc5d;
    }

    .single-explore-txt.bg-theme-4 .explore-rating {
        background: #bd70ff;
    }

    .single-explore-txt.bg-theme-5 .explore-rating {
        background: #ff7a40;
    }

.explore-rating-price, .explore-rating-price a {
    font-size: 12px;
    color: #777f85;
    text-transform: capitalize;
    font-weight: 400;
    margin: 15px 0 20px;
}

    .explore-rating-price a {
        margin: 0;
    }

.explore-rating {
    display: inline-block;
    width: 32px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    margin-right: 10px;
}

.explore-price {
    color: #f63138;
}

.explore-price-box {
    display: inline-block;
    padding: 0 10px;
    margin: 0 8px;
    border-left: 1px solid #dde0e4;
    border-right: 1px solid #dde0e4;
}

.explore-person {
    padding-bottom: 28px;
    border-bottom: 1px solid #e1e5eb;
}

.explore-person-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.explore-person p {
    font-size: 12px;
}

.explore-open-close-part {
    margin-top: 20px;
}

.close-btn {
    color: #f63138;
    text-transform: capitalize;
}

    .close-btn.open-btn {
        color: #00c437;
    }

.explore-map-icon {
    text-align: right;
}

    .explore-map-icon a svg {
        width: 12px;
        height: 14px;
        margin-left: 23px;
        color: #767f86;
    }

        .explore-map-icon a svg:hover {
            color: #f63138;
        }

.single-explore-txt.bg-theme-2 .explore-map-icon a svg:hover {
    color: #00c437;
}

.single-explore-item:hover {
    box-shadow: 0 10px 20px rgba(21,19,19,.2);
}