﻿

.tm-bordered-box {
    border-radius: 7px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.03);
}
h2{
    color: #343a3f;
}
.tm-no-border-top {
    border-top: none;
}


.tm-sidebar {
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 100px 20px 20px 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.sidebar-content{
    color: #767f86;
    padding:10px
}
p {
    color: #767f86;
}

.tm-body {
    margin-top: 20px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.tm-button,
.tm-button:focus {
    background-color: #2A4365;
    border: none;
    border-radius: 0;
    color: #fff;
}
a{
    text-decoration: none !important;
}

    .tm-button:hover,
    .tm-button.active {
        background-color: #2A4365;
        color: #fff;
        text-decoration: none;
    }

.tm-button-normal {
    display: inline-block;
    font-size: 1.2rem;
    padding: 10px 30px;
}

.tm-section-title {
    color: #2A4365;
    font-weight: 300;
    margin-top: 0;
}

.tm-section-title {
    margin-bottom: 30px;
    font-size: 1.8rem;
}

@media (min-width: 800px) {

    .tm-section-title {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .tm-sidebar {
        float: left;
        width: 280px;
    }

        .tm-sidebar.sticky {
            position: fixed;
            top: 20px;
        }
}

@media (min-width: 1200px) {
    .tm-sidebar {
        width: 350px;
    }

    .tm-main-content {
        margin-left: 370px;
    }

    .tm-section-title {
        margin-bottom: 20px;
    }

    .tm-box-pad {
        padding: 30px 40px;
    }
}

@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1400px;
    }

    .tm-sidebar {
        width: 450px;
    }

    .tm-main-content {
        margin-left: 470px;
    }

    .tm-section-title {
        margin-bottom: 30px;
    }
}
