﻿body {
    background-color: #f2f6fc;
    color: #69707a;
}

.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

    .card .card-header {
        font-weight: 500;
    }

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

p {
    text-align: center;
}

.course {
    padding: 8px 0;
    display: flex;
}
.head{
    font-weight: 600;
}
.stt {
    flex: 1;
    text-align: center;
}

.course-code {
    text-align: left;
}

.course-name {
    text-align: left;
}

.tm-button,
.tm-button:focus {
    background-color: #2A4365;
    border: none;
    border-radius: 0;
    color: #fff;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a {
    text-decoration: none !important;
}

.tm-button:hover,
.tm-button.active {
    background-color: #2A4365;
    color: #fff;
    text-decoration: none;
}

.tm-button-normal {
    display: block;
    font-size: 1.2rem;
    padding: 5px 45px;
}

.re-attempt {
    margin-top: 30px;
    text-align: center;
    display:flex;
    justify-content:center;
}

.main-breadcrumb {
    margin-left: 20px;
    margin-top:20px
}
