﻿.search-and-add {
    margin: 20px 0 40px 0;
}

.search-bar {
    width: 90%;
    padding: 10px 18px;
    background: #eef2f6;
    border-radius: 25px;
}

    .search-bar input {
        margin-left: 10px;
        background: transparent;
        width: 95%;
        border: none;
        outline: none;
    }

.search-btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

    .search-btn:hover {
        background: #2A4365;
        color: #fff;
    }
