﻿@page
@using QuizSystem.Models
@model QuizSystem.Pages.Exams.DetailsModel
@{
    //Layout = null;
    ViewData["Title"] = "Exam Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/exam.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Exams</title>
</head>
<body>
    @if (TempData["editSuccess"] != null)
    {
        <div class="alert alert-info alert-dismissible">
            @TempData["editSuccess"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["editError"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @TempData["editError"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    <div class="container">
        <div class="title text-center">
            <h1>EXAM</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/Courses/Lecturer/InChargeCourses">In-charge courses</a></li>
                    <li class="breadcrumb-item"><a href="~/Exams/Exams?courseID=@Model.Class.Course.CourseId">@Model.Class.Course.CourseCode</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.exam.Title</li>
                </ol>
            </nav>
        </div>

        <hr />
        @if(Model.message != ""){
            <div class="alert alert-danger">
                @Model.message
            </div>
        }
        <div ></div>
        <div class="exam-info">
            <div class="exam-title">@Model.exam.Title</div>
            <div class="exam-summary">Summary: @Model.exam.Summary</div>
            <div class="exam-startdate">Start date: @Model.exam.StartDate</div>
            <div class="exam-enddate">End date: @Model.exam.EndDate</div>
            <div class="exam-timer">Time: @Model.exam.Timer</div>
            <div class="exam-attempts">Attempts: @Model.exam.TakingTimes</div>
        </div>
        

        <div class="exam-action">
            <div class="link-action">
                @if (Model.exam != null && (Model.account == Model.exam.LecturerAccount) && Model.numOfTaken == 0)
                {
                    <a class="edit-exam-info" id="edit-exam" onclick="showEditModal('@Model.exam.ExamId',
                                                                        '@Model.exam.Title','@Model.exam.Summary',
                                                                        '@Model.exam.StartDate','@Model.exam.EndDate',
                                                                        '@Model.exam.Timer','@Model.exam.TakingTimes')">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        Edit info
                    </a>
                    <a class="edit-exam-question-list" href="~/Questions/Questions?examID=@Model.exam.ExamId">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        Edit questions
                    </a>
                }
                @if(Model.exam != null){
                    <a class="exam-statistic" href="~/Exams/Statistics?examID=@Model.exam.ExamId">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        View statistics
                    </a>
                }
                @* <a class="exam-preview">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    Preview
                </a> *@
            </div>
            <div id="exam-page-btn">
            <button id="delete-exam" onclick="showDeleteModal()">
                DELETE
            </button>


            <form method="post" asp-page="Details" asp-page-handler="Allow">
                <input type="hidden" name="examID" value="@Model.exam.ExamId">
                @if (Model.exam.Permission == true)
                {
                    <input id="permission-exam" type="submit" value="NOT ALLOW" style="background-color: red">
                }
                else
                {
                    <input id="permission-exam" type="submit" value="ALLOW">
                }
            </form>
            </div>
        </div>

        <hr />
        <h3>QUESTIONS</h3>
        <div class="exam-question-list">
            @if(Model.questionList == null || Model.questionList.Count == 0){
                <h2>There is no question in this exam!</h2>
            }else{
                @for (int i = 0; i < Model.questionList.Count; i++)
                {
                    <div class="question-container">
                        <div class="question">
                            Question: @Model.questionList[i].Content
                        </div>
                        <div class="answers">
                            @for (int j = 0; j < Model.answerList[i].Count; j++)
                            {
                                @if (@Model.answerList[i][j].Correct == true)
                                {
                                    <p class="answer answer-true">
                                        @Model.answerList[i][j].Content
                                    </p>
                                }
                                else
                                {
                                    <p class="answer answer-false">
                                        @Model.answerList[i][j].Content
                                    </p>
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div id="modal-overlay" onclick="hideModal()"></div>
    <div id="delete-exam-modal">
        <div class="confirm-message">
            Do you want to delete this exam?
        </div>
        <div class="modal-action">
            <div class="modal-elm">
                <button id="delete-cancel" onclick="hideModal()">Cancel</button>
            </div>
            <div class="modal-elm">
                <form class="delete-form" method="post" asp-page="Details" asp-page-handler="Delete">
                    <input type="hidden" name="examID_raw" value="@Model.exam.ExamId" />
                    <input type="hidden" name="classID" value="@Model.Class.ClassId" />
                    
                    <input id="delete-confirm" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </div>

    <div id="edit-exam-modal">
        <div class="header-modal">
            Edit exam's information
        </div>
        <div class="body-modal">
            <form name="editExamForm" method="post" asp-page="Details" asp-page-handler="Edit">
                <input name="examID" type="hidden" value="@Model.exam.ExamId">
                <div class="form-group">
                    <label>Title</label>
                    <input name="title" type="text" class="form-control" required>
                </div>
                <p id="alert-title" style="color: red; font-weight: bold;"></p>
                <div class="form-group">
                    <label>Summary</label>
                    <input name="summary" type="text" class="form-control" required>
                </div>
                <p id="alert-sum" style="color: red; font-weight: bold;"></p>
                <div class="exam-dl">
                    <label>Start</label>
                    <input name="startDate" type="datetime-local" id="start-date" required />
                    <label>End</label>
                    <input name="endDate" type="datetime-local" id="end-date" required/>

                    <p id="alert-date" style="color: red; font-weight: bold;"></p>
                </div>
                <div class="form-group">
                    <label>Duration (Sec)</label><div id="time-display" style="display:inline;"></div>
                    <input name="dur" type="number" class="form-control" required>
                        <p id="alert-dur" style="color: red; font-weight: bold;"></p>
                </div>
                <div class="form-group">
                    <label>Number of attempts</label>
                    <input name="numOfAttempts" type="number" class="form-control" required min="1" max="999">
                        <p id="alert-atp" style="color: red; font-weight: bold;"></p>
                </div>

                <div class="modal-btn">
                    <div class="btn-cancel moda-btn" onclick="hideModal()" style="cursor: pointer; text-align: center;">
                        Cancel
                    </div>
                    <input id="submit-btn" type="submit" class="moda-btn btn-blue" value="Save">
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/exam.js"></script>
    @if (ViewData["myRedirect"] != null)
    {
        <script>
            @Html.Raw(ViewData["myRedirect"])
        </script>
    }
</body>
</html>