﻿@page
@using QuizSystem.Models
@model QuizSystem.Pages.Exams.ExamsModel
@{
    //Layout = null;
    ViewData["Title"] = "Exams";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/exams.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Exams</title>
</head>
<body>
    @if(TempData["error"] != null){
        <div class="alert alert-danger alert-dismissible">
            @TempData["error"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["success"] != null)
    {
        <div class="alert alert-info alert-dismissible">
            @TempData["success"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["delError"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @TempData["delError"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["delSuccess"] != null)
    {
        <div class="alert alert-info alert-dismissible">
            @TempData["delSuccess"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    <div class="container">
        <div class="page-title">
            <h2 style="margin: 10px 0 15px;">@Model.course.CourseCode: @Model.course.CourseName</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/Courses/Lecturer/InChargeCourses">In-charge courses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.course.CourseCode</li>
                </ol>
            </nav>
        </div>

        <button class="btn-blue create-btn" onclick="showModal()">
            Create
        </button>

        <div class="exam-list-container d-flex">
            @*<div class="list-title">
                Exams of class @Model.Class.ClassName
            </div>*@

            @if (Model.Exams == null || Model.Exams.Count == 0)
            {
                <h3 class="exam-list">The class has 0 exam to display!</h3>
            }else{
                <div class="exam-list">
                    @for (int i = 0; i < Model.Exams.Count; i++)
                    {
                        <a class="exam" asp-page="Details" asp-route-examID="@Model.Exams[i].ExamId">
                            <div class="exam-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <div class="start-date">
                                    Start: @Model.Exams[i].StartDate
                                </div>
                                <div class="end-date">
                                    End: @Model.Exams[i].EndDate
                                </div>
                            </div>
                            <div class="exam-info">
                                <div class="exam-title">
                                    @Model.Exams[i].Title
                                </div>
                                <div class="exam-sum">
                                    @Model.Exams[i].Summary
                                </div>
                                <div class="exam-timer">
                                    Time: @Model.Exams[i].Timer
                                </div>
                                <div class="exam-taking-times">
                                    Attempts: @Model.Exams[i].TakingTimes
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }

            <div class="class-container">
                <div class="custom-select class-select position-relative">
                    <div class="current-class position-relative">
                        <div class="current-class-name">@Model.Class.ClassName</div>
                        <div class="current-list-class position-absolute">
                            @foreach (Class c in Model.Classes)
                            {
                                <a class="class-name" href="~/Exams/Exams?courseID=@Model.course.CourseId&&classID=@c.ClassId">@c.ClassName</a>
                            }
                        </div>
                    </div>
                </div>

                <div class="class-card">
                    <h3>Class: @Model.Class.ClassName</h3>
                    <div class="class-date d-flex">
                        <div class="start-date">
                            Start: @Model.Class.StartDate
                        </div>
                        <div class="end-date">
                            End: @Model.Class.EndDate
                        </div>
                    </div>
                    <div class="class-info">
                        <div class="num-of-stu">
                            <div class="box">
                                <a class="detail-student" asp-page="/ClassManagement/StudentList" asp-route-classId="@Model.Class.ClassId">
                                <div class="class-info-1">@Model.numOfStu</div>
                                <div class="class-info-2">Students</div>
                                </a>
                            </div>
                        </div>
                        <div class="num-of-exams">
                            <div class="box">
                                @if(Model.Exams == null || Model.Exams.Count == 0){
                                    <div class="class-info-1">0</div>

                                }else{
                                    <div class="class-info-1">@Model.Exams.Count</div>
                                }
                                <div class="class-info-2">Exams</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-overlay" id="modal-overlay" onclick="hideModal()"></div>

    <div class="create-exam-modal" id="create-modal">
        <div class="header-modal">
            Create new exam for @Model.Class.ClassName
        </div>
        <div class="body-modal">
            <form method="post" name="createExamForm">
                <input type="hidden" value="@Model.account" name="lecturer" />
                <input type="hidden" value="@Model.Class.ClassId" name="classID" />
                <input type="hidden" value="@Model.course.CourseId" name="courseID" />
                <div class="form-group">
                    <label>Title</label>
                    <input name="title" type="text" class="form-control" required>
                </div>
                <p id="alert-title" style="color: red; font-weight: bold;">Please do not leave blank or just enter spaces</p>
                <div class="form-group">
                    <label>Summary</label>
                    <input name="summary" type="text" class="form-control" required>
                </div>
                <p id="alert-sum" style="color: red; font-weight: bold;">Please do not leave blank or just enter spaces</p>
                <div class="exam-dl">
                    <label>Start</label>
                    <input name="startDate" type="datetime-local" id="start-date" required/>
                    <label>End</label>
                    <input name="endDate" type="datetime-local" id="end-date" required/>

                    <p id="alert-date" style="color: red; font-weight: bold;"></p>
                </div>
                <div class="form-group">
                    <label>Duration (Sec)</label> <div id="time-display" style="display:inline;"></div>
                    <input name="dur" type="number" class="form-control" id="duration" required>
                    <p id="alert-dur" style="color: red; font-weight: bold;"></p>
                </div>
                <div class="form-group">
                    <label>Number of attempts</label>
                    <input name="numOfAttempts" type="number" class="form-control" required min="1" max="999">
                    <p id="alert-atp" style="color: red; font-weight: bold;"></p>
                </div>

                <div class="modal-btn">
                    <div class="btn-cancel moda-btn text-center" onclick="hideModal()" style="cursor: pointer;">
                        Cancel
                    </div>
                    <input id="submit-btn" type="submit" class="moda-btn btn-blue" value="Create">
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/exams.js"></script>
    @if (ViewData["myRedirect"] != null)
    {
        <script>
            @Html.Raw(ViewData["myRedirect"])
        </script>
    }
</body>
</html>
