﻿@page
@using QuizSystem.Models
@model QuizSystem.Pages.Exams.StatisticsModel
@{
    ViewData["Title"] = "Exam Statistics";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/statistics.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Statistics</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <div class="container">
        <div class="page-title">
            <h2 style="margin: 10px 0 15px;">STATISTICS</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/Courses/Lecturer/InChargeCourses">In-charge courses</a></li>
                    <li class="breadcrumb-item"><a href="~/Exams/Exams?courseID=@Model.Class.Course.CourseId">@Model.Class.Course.CourseCode</a></li>
                    <li class="breadcrumb-item"><a href="~/Exams/Details?examID=@Model.exam.ExamId">@Model.exam.Title</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Statistics</li>
                </ol>
            </nav>
        </div>

        <div class="main-content">
            @if(Model.questionList.Count > 0 && Model.AttemptList != null && Model.AttemptList.Count > 0){
                <div class="records-container">
                    <h3 class="title">Records</h3>
                    <div class="record-table-container">
                        <div class="table-head d-flex">
                            <div class="stu-acc">Student</div>
                            <div class="start-time">Start time</div>
                            <div class="end-time">End time</div>
                            <div class="score">Score</div>
                            @for (int i = 0; i < Model.questionList.Count; i++)
                            {
                                <div class="question">Q@(i + 1)</div>
                            }
                        </div>
                        <div class="table-body">
                            @for (int i = 0; i < Model.AttemptList.Count; i++)
                            {
                                <div class="one-student">
                                    <div class="highest-attempt">
                                        <div class="stu-acc">@Model.AttemptList[i][0].StudentAccount</div>
                                        <div class="start-time">@Model.AttemptList[i][0].StartDate</div>
                                        <div class="end-time">@Model.AttemptList[i][0].EndDate</div>
                                        <div class="score">@Model.AttemptList[i][0].Score</div>
                                        @for (int k = 0; k < Model.questionList.Count; k++)
                                        {
                                            <a class="question" href="javascript:void(0);"
                                            onclick="window.open('/Exams/StudentQuestionLog?recordId=@Model.AttemptList[i][0].TakeExamId&&quesId=@Model.questionList[k].QuesId',
                                                    'newwindow', 'width=500,height=350'); return false;">
                                                @if (Model.scoreList[i][0][k] != 0)
                                                {
                                                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                                                }
                                                @Model.scoreList[i][0][k]
                                            </a>
                                        }
                                    </div>
                                    <div class="attempts">
                                        @for (int j = 1; j < Model.AttemptList[i].Count; j++)
                                        {
                                            <div class="attempt">
                                                <div class="stu-acc">@Model.AttemptList[i][j].StudentAccount</div>
                                                <div class="start-time">@Model.AttemptList[i][j].StartDate</div>
                                                <div class="end-time">@Model.AttemptList[i][j].EndDate</div>
                                                <div class="score">@Model.AttemptList[i][j].Score</div>
                                                @for (int k = 0; k < Model.questionList.Count; k++)
                                                {
                                                    <a class="question" href="javascript:void(0);" 
                                                    onclick="window.open('/Exams/StudentQuestionLog?recordId=@Model.AttemptList[i][j].TakeExamId&&quesId=@Model.questionList[k].QuesId', 
                                                    'newwindow', 'width=500,height=350'); return false;">
                                                        @if (Model.scoreList[i][j][k] != 0)
                                                        {
                                                            <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                                                        }
                                                        @Model.scoreList[i][j][k]
                                                    </a>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }else{
                <h1 class="alert alert-info">There is no attempt for statistics!</h1>
            }
            
            @if(Model.scoreStatistics !=null){
                <div class="statistics">
                    <h3 class="title" style="margin-top: 50px;">Statistics</h3>
                    <div id="data-statistics">
                        @foreach (int data in Model.scoreStatistics)
                        {
                            <div class="data">@data</div>
                        }
                    </div>
                    <canvas id="myChart" style="width:100%;max-width:650px;min-width: 300px; margin: auto;"></canvas>
                </div>
            }
            
        </div>
    </div>

    <script>
        var xValues = ["0-2", "2-4", "4-6", "6-8", "8-10"];
        var datas = document.querySelectorAll("#data-statistics .data");
        var yValues = [];
        datas.forEach(function(curVal){
            yValues.push(parseInt(curVal.innerHTML));
        })
        var barColors = ["red", "green", "blue", "orange", "brown"];

        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Score (highest attempt) statistics of @Model.exam.Title (score/10)"
                }
            }
        });
    </script>
</body>
</html>
