﻿@page
@using QuizSystem.Models
@model QuizSystem.Pages.Exams.StudentQuestionLogModel
@{
	Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/log.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Log</title>
</head>

<body>
    @if(Model.question !=null){
        <div class="question-container d-flex">
            <div class="left-side">
                <div class="title">
                    Question
                </div>
                <div class="question-score">
                    @Model.score.ToString("F2") out of @Model.question.Score
                </div>
            </div>
            <div class="right-side">
                <div class="question">
                    @Model.question.Content
                </div>
                <div class="answers">
                    @if (Model.question.Type == true)
                    {
                        @foreach (QuestionExamAnswer a in Model.answers)
                        {
                            @if(Model.takeAnswers !=null && Model.takeAnswers.Count > 0){
                                bool x = false;
                                @foreach (TakeAnswer t in Model.takeAnswers)
                                {
                                    if (t.AnswerId == a.AnswerId)
                                    {
                                        x = true;
                                    }
                                }

                                @if(x){
                                    if (a.Correct == true)
                                    {
                                        <div class="answer true-answer">
                                            <input type="checkbox" name="answer" checked disabled> @a.Content
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="answer wrong-answer">
                                            <input type="checkbox" name="answer" checked disabled> @a.Content
                                        </div>
                                    }
                                }else{
                                    if (a.Correct == true)
                                    {
                                        <div class="answer true-answer">
                                            <input type="checkbox" name="answer" disabled> @a.Content
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="answer">
                                            <input type="checkbox" name="answer" disabled> @a.Content
                                        </div>
                                    }
                                }
                            }else{
                                if (a.Correct == true)
                                {
                                    <div class="answer true-answer">
                                        <input type="checkbox" name="answer" disabled> @a.Content
                                    </div>
                                }
                                else
                                {
                                    <div class="answer">
                                        <input type="checkbox" name="answer" disabled> @a.Content
                                    </div>
                                }
                            }
                        }
                    }
                    else
                    {
                        @foreach (QuestionExamAnswer a in Model.answers)
                        {
                            @if (Model.takeAnswers != null && Model.takeAnswers.Count > 0)
                            {
                                @foreach (TakeAnswer t in Model.takeAnswers)
                                {
                                    if (t.AnswerId == a.AnswerId)
                                    {
                                        if (a.Correct == true)
                                        {
                                            <div class="answer true-answer">
                                                <input type="radio" name="answer" checked disabled> @a.Content
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="answer wrong-answer">
                                                <input type="radio" name="answer" checked disabled> @a.Content
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (a.Correct == true)
                                        {
                                            <div class="answer true-answer">
                                                <input type="radio" name="answer" disabled> @a.Content
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="answer">
                                                <input type="radio" name="answer" disabled> @a.Content
                                            </div>
                                        }
                                    }
                                }
                            }else{
                                if (a.Correct == true)
                                {
                                    <div class="answer true-answer">
                                        <input type="radio" name="answer" disabled> @a.Content
                                    </div>
                                }
                                else
                                {
                                    <div class="answer">
                                        <input type="radio" name="answer" disabled> @a.Content
                                    </div>
                                }
                            }
                        }
                    }

                </div>
            </div>
        </div>
    }
</body>
</html>
