﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Home</title>
    <style type="text/css">
        .front-page-banner{
            height: calc(100vh - 4.5em);
            background-image: url("/Images/FPT-alpha.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .content{
            top: 50%;
            transform: translate(-55%, -50%);
            left: 50%;
            text-align: center;
        }

        .title-first{
            border-bottom: solid 1px rgba(255,255,255,.5);
            padding-bottom: 20px;
            color: #fff;
            font-size: 2.5rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 2rem;
            letter-spacing: 1rem;
        }

        .title-second{
            font-weight: lighter;
            color: #fff;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    </style>
</head>
<body>
    <div class="front-page-banner position-relative" back>
        @Html.Partial("_NoticeMessagePartial")
        <div class="content position-absolute">
            <h2 class="title-first">FPT EDUCATION</h2>
            <h3 class="title-second">QUIZ PRACTICE SYSTEM</h3>
        </div>
    </div>
</body>
</html>
