﻿@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    var route = ViewContext.RouteData.Values["page"].ToString().Split('/');
    var pageName = route[route.Length - 1];
}
<link rel="stylesheet" href="~/css/UserManagement.css" />
<body style="background-color: #F7FAFC;">
    @Html.Partial("_NoticeMessagePartial")
    @Html.Partial("_DisableDeleteModalPartial")
    <img src="/Images/FPT-alpha.jpg" class="banner" />
    <div class="container-fluid">
        <div class="col-12 col-md-9 container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @if (pageName != "Index") {
                        <li class="breadcrumb-item"><a asp-page="Index" class="text-primary" style="text-decoration-line: none;">Index</a></li>
                        <li class="breadcrumb-item">@pageName</li>
                    }
                </ol>
            </nav>
        </div>
        @RenderBody()
    </div>
</body>
