﻿@page
@model QuizSystem.Pages.UserManagement.Create_UserModel
@{
    ViewData["Title"] = "Create user";
}

<link rel="stylesheet" href="~/css/Login.css" type="text/css" />
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="container">
            <div class="container">
                @if (ViewData["Title"] != null) {
                    <p class="display-5" style="text-align: center;">@ViewData["Title"].ToString().ToUpper()</p>
                    <hr class="solid m-4" />
                }
                <div class="d-flex justify-content-center align-items-center">
                    @using (Html.BeginForm("Create_User", "UserManagement", FormMethod.Post, new { @class = "form-group form w-75", onsubmit = "return ValidateCreateUser();" })) {
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                @Html.Label("account", "Account", new { @class="col-sm-2 col-form-label"})
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    @Html.TextBox("account", null, new { placeholder = "Account", required=true, @class="form-control", onkeyup = "markInvalidDataRoleDependent('account')"})
                                </div>
                                <div id="accountReq" class="mb-3" style="font-size:small;">
                                    <ul class="list-group-horizontal" style="list-style-type: disc;">
                                        <li class="">
                                            For student: Account must be in the format [Name][ID]. Ex: anvhe110001
                                        </li>
                                        <li class="">
                                            For other roles: Account must contain the account holder's first name followed by the first letter of their last name and middle name(s) a. Ex: Nguyen Van A => anv
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            @Html.Label("email", "Email", new { @class="col-sm-2 col-form-label"})
                            <div class="col-sm-10">
                                <div class="form-group">
                                    @Html.TextBox("email", null, new { placeholder = "Email", required=true, @class="form-control", onkeyup = "markInvalidDataRoleDependent('email')"})
                                </div>
                                <div id="emailReq" class="mb-3" style="font-size:small;">
                                    <ul class="list-group-horizontal" style="list-style-type: disc;">
                                        <li class="">
                                            E-mail must have username@@domain format
                                        </li>
                                        <li class="">
                                            For students: E-mail must contain <strong>@@FPT.EDU.VN</strong> domain
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            @Html.Label("role", "Role", new { @class="col-sm-2 col-form-label"})
                            <div class="col-sm-10">
                                <div class="form-group">
                                    @Html.DropDownList("role", new SelectList(Model.RoleList.Select(e => e.Role1)), " -- Select Role -- ", new { required=true, @class="", onchange = "changeTemplate()", onfocusout = "changeTemplate();"})
                                </div>
                                <div id="roleReq" class="mb-3" style="font-size:small;">
                                    <ul class="list-group-horizontal" style="list-style-type: disc;">
                                        <li class="">
                                            You must select a Role
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            @Html.Label("name", "Name", new { @class="col-sm-2 col-form-label"})
                            <div class="col-sm-10">
                                <div class="form-group">
                                    @Html.TextBox("name", null, new { placeholder = "Name", @class="form-control", onkeyup = "markInvalidData('name')"})
                                </div>
                                <div id="nameReq" class="mb-3" style="font-size:small;">
                                    <ul class="list-group-horizontal" style="list-style-type: disc;">
                                        <li class="">
                                            Name must contain only Letters and white spaces
                                        </li>
                                        <li class="">
                                            Name <strong>CANNOT</strong> have accents
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            @Html.Label("phone", "Phone", new { @class="col-sm-2 col-form-label"})
                            <div class="col-sm-10">
                                <div class="form-group">
                                    @Html.TextBox("phone", null, new { placeholder = "Phone", @class="form-control", onkeyup = "markInvalidData('phone')"})
                                </div>
                                <div id="phoneReq" class="mb-3" style="font-size:small;">
                                    <ul class="list-group-horizontal" style="list-style-type: disc;">
                                        <li class="me-2">
                                            Phone number must be 10-digits long
                                        </li>
                                        <li class="">
                                            Phone number must only contains numbers and starts with 0
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="solid m-4" />
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Student"))) {
                            <div id="infoStudent" class="InfoTemplate d-none">
                                <div class="row mb-3">
                                    @Html.Label("mssv", "Mssv", new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBox("mssv", null, new { placeholder = "Mssv", @class="form-control", onkeyup = "markInvalidData('mssv');"})
                                        </div>
                                        <div id="accountReq" class="mb-3" style="font-size:small;">
                                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                                <li class="">
                                                    Your student's [ID]. Ex: HE110001
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.Label("Dob", "Dob", new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.Editor("dob", "date", new { @class="form-control", onchange = "markInvalidData('dob');"})
                                        </div>
                                        <div id="dobReq" class="mb-3" style="font-size:small;">
                                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                                <li class="me-2">
                                                    Age must be between 18 and 100
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.Label("major", "Major", new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.DropDownList("major", new SelectList(Models.Majors.MajorList.Majors), "-- Select Major --", new {onchange = "markInvalidData('major');", onfocusout = "markInvalidData('major');"})
                                        </div>
                                        <div id="majorReq" class="mb-3" style="font-size:small;">
                                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                                <li class="">
                                                    You must select a Major
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Admin"))) {
                            <div id="infoAdmin" class="InfoTemplate d-none">
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Manager"))) {
                            <div id="infoManager" class="InfoTemplate d-none">
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Lecturer"))) {
                            <div id="infoLecturer" class="InfoTemplate d-none">
                            </div>
                        }
                        <div class="row">
                            <div class="form-group col">
                                <input type="button" class="btn btn-warning" value="Cancel" onclick="document.getElementById('btnReturn').click();" />
                            </div>
                            <div class="form-group col">
                                <input class="col-6" type="submit" value="Create user" />
                            </div>
                        </div>
                        Html.EndForm();
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block col-md-3 sidebar" style="overflow-y:auto;">
        <div class="container my-1 d-flex justify-content-center">
            <a asp-page="Index" id="btnReturn" class="btn btn-primary" hidden>
                Return to list
            </a>
        </div>
    </div>
</div>
<script src="~/js/CreateAccountValidate.js"></script>
<script src="~/js/UpdateUser.js"></script>