﻿@page
@using QuizSystem.Services.Encryption;
@model QuizSystem.Pages.UserManagement.IndexModel
@{
    ViewData["Title"] = "Account Management";
    List<string> RoleList = new List<string>();
    foreach (var u in Model.RoleList) {
        if (u != null) RoleList.Add((string)u);
    }
}
<style>
</style>
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="container">
            @if (ViewData["Title"] != null) {
                <p class="display-5" style="text-align: center;">@ViewData["Title"].ToString().ToUpper()</p>
                <hr class="solid m-4" />
            }
            @Html.DropDownList("accounts", new SelectList(Model.UserList.Select(e => e.Account)),new { @readonly = true, hidden = true})
            @using (Html.BeginForm("Search", "UserManagement", FormMethod.Post, new { @class = "w-100", id = "searchForm" })) {
                <div class="d-flex flex-row-reverse m-2 me-3 justify-content-around">
                    @Html.DropDownList("role", new SelectList(RoleList), Request.RouteValues["role"]?.ToString() ?? "-- Select Role --", new { onchange = "FilterByRole();"})
                    <div class="input-group w-75">
                        @Html.TextBox("search", null, new { placeholder = "Search", @class = "form-control"})
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-light btn-outline-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                Html.EndForm();
            }
            <table class="table" id="userList">
                <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(m => Model.UserList.FirstOrDefault().Account)</th>
                        <th scope="col">@Html.DisplayNameFor(m => Model.UserList.FirstOrDefault().Email)</th>
                        <th scope="col">@Html.DisplayNameFor(m => Model.UserList.FirstOrDefault().Role)</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.UserList) {
                        <tr>
                            <th scope="row">@Html.DisplayFor(u => user.Account)</th>
                            <td>@Html.DisplayFor(u => user.Email)</td>
                            <td>@Html.DisplayFor(u => user.Role.Role1)</td>
                            <td class="d-flex justify-content-center">
                                <div class="btn-group" role="group">
                                    <a asp-page="View_Info" style="border:1px solid #3f3c3c;" class="btn btn-outline-light button-theme" asp-route-u="@user.Account.Encrypt()">
                                        View
                                    </a>
                                    <a asp-page="Update_User" style="border:1px solid #3f3c3c;" class="btn btn-outline-light button-theme" asp-route-u="@user.Account.Encrypt()">
                                        Update
                                    </a>
                                    <button style="border:1px solid #3f3c3c;" class="btn btn-outline-light @((user.IsActive != null && user.IsActive == true) ? "button-purple" : "btn-success")" data-bs-toggle="modal" data-bs-target="#DisableModal" data-bs-status="@((user.IsActive != null && user.IsActive == true) ? "disable" : "enable")" data-bs-username="@user.Account" data-bs-d="@user.Account.Encrypt()">@((user.IsActive != null && user.IsActive == true) ? "Disable" : "Enable")</button>
                                    <button style="border:1px solid #3f3c3c;" class="btn btn-outline-light btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal" data-bs-username="@user.Account" data-bs-d="@user.Account.Encrypt()">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-none d-md-block col-md-3 sidebar" style="overflow-y:auto;">
        <div class="container my-1 d-flex justify-content-center">
            <a class="btn btn-primary" asp-page="Create_User">
                New Account
            </a>
        </div>
    </div>
</div>

<script src="~/js/AccountManagement.js"></script>
<script>
    //autocomplete(document.getElementById("search"), Array.from(document.getElementById('accounts').options).map(option => option.text));
</script>