﻿@page
@using QuizSystem.Services.Encryption;
@model QuizSystem.Pages.UserManagement.Update_UserModel
@{
    ViewData["Title"] = "Update user - " + Model.UserData.Account;
}

<link rel="stylesheet" href="~/css/Login.css" type="text/css" />
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="container">
            <div class="container">
                @if (ViewData["Title"] != null) {
                    <p class="display-5" style="text-align: center;">@ViewData["Title"].ToString().ToUpper()</p>
                    <hr class="solid m-4" />
                }
                <div class="d-flex justify-content-center align-items-center">
                    @using (Html.BeginForm("Forgot_Password", "Login", FormMethod.Post, new { id = "pwdForm", @class = "form-group" })) {
                        @Html.TextBox("email", Model.UserData.Email, null, new {hidden = true, @readonly = true, tabindex = -1})
                        Html.EndForm();
                    }
                    @using (Html.BeginForm("Update_User", "UserManagement", FormMethod.Post, new { @class = "form-group form w-75", onsubmit = "return ValidateUpdateUser();" })) {
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                @Html.DisplayNameFor(model => model.UserData.Account)
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.UserData.Account, new { placeholder = "Account", required=true, @class="form-control", hidden = true, @readonly = true})
                                    <div class="form-control-plaintext">
                                        @Html.DisplayFor(model => model.UserData.Account)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            @Html.LabelFor(model => model.UserData.Email, new { @class="col-sm-2 col-form-label"})
                            <div class="col-sm-10">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.UserData.Email, new { placeholder = "Email", required=true, @class="form-control"})
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            @Html.Label("password", "Password", new { @class = "col-sm-2 col-form-label"})
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger py-2" style="margin-bottom: 20px" onclick="submitPwdReset('@(Model.UserData.Account)');">Reset password</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            @Html.Label("role", "Role", new { @class="col-sm-2 col-form-label"})
                            <div class="col-sm-10">
                                <div class="form-group">
                                    @Html.DropDownList("role", Model.UserData.Role?.Role1!= null ? new SelectList(Model.RoleList.Select(e => e.Role1), Model.UserData.Role?.Role1) : new SelectList(Model.RoleList.Select(e => e.Role1)), " -- Select Role -- ", new { placeholder = "Email", required=true, @class="", onchange = "changeTemplate()"})
                                </div>
                            </div>
                        </div>
                        <hr class="solid m-4" />
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Student"))) {
                            <div id="infoStudent"
                            @if (!Model.UserData.Role.Role1.Equals("Student")) {
                                @:class="InfoTemplate d-none"
                            }
                            else {
                                @:class="InfoTemplate"
                            }>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Student.Mssv, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserData.Student.Mssv, new { placeholder = "Mssv", @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Student.StudentName, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserData.Student.StudentName, new { placeholder = "Name", @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Student.Phone, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserData.Student.Phone, new { placeholder = "Phone", @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Student.Dob, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.UserData.Student.Dob, "date", new { @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Student.Major, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => model.UserData.Student.Major, new SelectList(Models.Majors.MajorList.Majors, Model.UserData.Student?.Major), "-- Select Major --", new { @class=""})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Admin"))) {
                            <div id="infoAdmin"
                            @if (!Model.UserData.Role.Role1.Equals("Admin")) {
                                @:class="InfoTemplate d-none"
                            }
                            else {
                                @:class="InfoTemplate"
                            }>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Admin.AdminName, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserData.Admin.AdminName, new { placeholder = "Name", @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Admin.Phone, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserData.Admin.Phone, new { placeholder = "Phone", @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Manager"))) {
                            <div id="infoManager"
                            @if (!Model.UserData.Role.Role1.Equals("Manager")) {
                                @:class="InfoTemplate d-none"
                            }
                            else {
                                @:class="InfoTemplate"
                            }>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Manager.ManagerName, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserData.Manager.ManagerName, new { placeholder = "Name", @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Manager.Phone, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserData.Manager.Phone, new { placeholder = "Phone", @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Lecturer"))) {
                            <div id="infoLecturer"
                            @if (!Model.UserData.Role.Role1.Equals("Lecturer")) {
                                @:class="InfoTemplate d-none"
                            }
                            else {
                                @:class="InfoTemplate"
                            }>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Lecturer.LecturerName, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserData.Lecturer.LecturerName, new { placeholder = "Name", @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(model => model.UserData.Lecturer.Phone, new { @class="col-sm-2 col-form-label"})
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserData.Lecturer.Phone, new { placeholder = "Phone", @class="form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="form-group col">
                                <input type="button" class="btn btn-warning" value="Cancel" onclick="document.getElementById('btnReturn').click();" />
                            </div>
                            <div class="form-group col">
                                <input class="col-6" type="submit" value="Update user" />
                            </div>
                        </div>
                        Html.EndForm();
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block col-md-3 sidebar" style="overflow-y:auto;">
        <div class="container my-1 d-flex justify-content-center">
            <a asp-page="Index" id="btnReturn" class="btn btn-primary" hidden>
                Return to list
            </a>
            <a class="btn button-theme" asp-page="View_Info" asp-route-u="@Model.UserData.Account.Encrypt()">
                View Account
            </a>
            <div class="vr border-dark mx-2"></div>
            <button class="btn @((Model.UserData.IsActive != null && Model.UserData.IsActive == true) ? "button-purple" : "btn-success")" data-bs-toggle="modal" data-bs-target="#DisableModal" data-bs-status="@((Model.UserData.IsActive != null && Model.UserData.IsActive == true) ? "disable" : "enable")" data-bs-username="@Model.UserData.Account" data-bs-d="@Model.UserData.Account.Encrypt()">@((Model.UserData.IsActive != null && Model.UserData.IsActive == true) ? "Disable" : "Enable")</button>
            <div class="vr border-dark mx-2"></div>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal" data-bs-username="@Model.UserData.Account" data-bs-d="@Model.UserData.Account.Encrypt()">Delete</button>
        </div>
    </div>
</div>
<script src="~/js/CreateAccountValidate.js"></script>
<script src="~/js/UpdateUser.js"></script>