﻿@page
@using QuizSystem.Services.Encryption;
@model QuizSystem.Pages.UserManagement.View_InfoModel
@{
    ViewData["Title"] = "View User Information - " + Model.UserData.Account;
}
<link rel="stylesheet" href="~/css/Login.css" type="text/css" />
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="container">
            <div class="container">
                @if (ViewData["Title"] != null) {
                    <p class="display-5" style="text-align: center;">@ViewData["Title"].ToString().ToUpper()</p>
                    <hr class="solid m-4" />
                }
                <div class="d-flex justify-content-center align-items-center">
                    @using (Html.BeginForm("Update_User", "UserManagement", FormMethod.Post, new { @class = "form-group form w-75", onsubmit = "return ValidateUpdateUser();" })) {
                        <div class="row mb-3">
                            <div class="col-sm-4 col-lg-3 ">
                                @Html.DisplayNameFor(model => model.UserData.Account /*, new { @class="col-sm-4 col-lg-3 "}*/)
                            </div>
                            <div class="col-sm-8 col-lg-9">
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.UserData.Account)
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4 col-lg-3 ">
                                @Html.DisplayNameFor(model => model.UserData.Email)
                            </div>
                            <div class="col-sm-8 col-lg-9">
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.UserData.Email)
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4 col-lg-3 ">
                                @Html.DisplayNameFor(model => model.UserData.IsActive)
                            </div>
                            <div class="col-sm-8 col-lg-9">
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.UserData.IsActive, "string")
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4 col-lg-3 ">
                                @Html.DisplayNameFor(model => model.UserData.Role)
                            </div>
                            <div class="col-sm-8 col-lg-9">
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.UserData.Role.Role1)
                                    @*@Html.DropDownList("role", Model.UserData.Role?.Role1!= null ? new SelectList(Model.RoleList.Select(e => e.Role1), Model.UserData.Role?.Role1) : new SelectList(Model.RoleList.Select(e => e.Role1)), " -- Select Role -- ", new { placeholder = "Email", required=true, @class="", onchange = "changeTemplate()"})*@
                                </div>
                            </div>
                        </div>
                        <hr class="solid m-4" />
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Student"))) {
                            <div id="infoStudent"
                            @if (!Model.UserData.Role.Role1.Equals("Student")) {
                                @:class="InfoTemplate d-none"
                            }
                            else {
                                @:class="InfoTemplate"
                            }>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.Mssv)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.Mssv)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.StudentName)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.StudentName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.Phone)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.Phone)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.Dob)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.Dob, "date")
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Student.Major)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Student.Major)
                                            @*@Html.DropDownListFor(model => model.UserData.Student.Major, new SelectList(Models.Majors.MajorList.Majors, Model.UserData.Student?.Major), "-- Select Major --", new { @class=""})*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Admin"))) {
                            <div id="infoAdmin"
                            @if (!Model.UserData.Role.Role1.Equals("Admin")) {
                                @:class="InfoTemplate d-none"
                            }
                            else {
                                @:class="InfoTemplate"
                            }>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Admin.AdminName)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Admin.AdminName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Admin.Phone)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Admin.Phone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Manager"))) {
                            <div id="infoManager"
                            @if (!Model.UserData.Role.Role1.Equals("Manager")) {
                                @:class="InfoTemplate d-none"
                            }
                            else {
                                @:class="InfoTemplate"
                            }>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Manager.ManagerName)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Manager.ManagerName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Manager.Phone)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Manager.Phone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*-----------------------------------------------------------------------------------------------------------*@
                        @if (Model.RoleList.Any(e => e.Role1.Equals("Lecturer"))) {
                            <div id="infoLecturer"
                            @if (!Model.UserData.Role.Role1.Equals("Lecturer")) {
                                @:class="InfoTemplate d-none"
                            }
                            else {
                                @:class="InfoTemplate"
                            }>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Lecturer.LecturerName)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Lecturer.LecturerName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 col-lg-3 ">
                                        @Html.DisplayNameFor(model => model.UserData.Lecturer.Phone)
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="form-group">
                                            @Html.DisplayFor(model => model.UserData.Lecturer.Phone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <input type="button" class="btn btn-primary" value="Return to list" onclick="document.getElementById('btnReturn').click();" />
                        </div>
                        Html.EndForm();
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block col-md-3 sidebar" style="overflow-y:auto;">
        <div class="container my-1 d-flex justify-content-center">
            <a asp-page="Index" id="btnReturn" class="btn btn-primary" hidden>
                Return to list
            </a>
            <a class="btn button-theme" asp-page="Update_User" asp-route-u="@Model.UserData.Account.Encrypt()" >
                Update Info
            </a> 
            <div class="vr border-dark mx-2"></div>
            <button class="btn @((Model.UserData.IsActive != null && Model.UserData.IsActive == true) ? "button-purple" : "btn-success")" data-bs-toggle="modal" data-bs-target="#DisableModal" data-bs-status="@((Model.UserData.IsActive != null && Model.UserData.IsActive == true) ? "disable" : "enable")" data-bs-username="@Model.UserData.Account" data-bs-d="@Model.UserData.Account.Encrypt()">@((Model.UserData.IsActive != null && Model.UserData.IsActive == true) ? "Disable" : "Enable")</button>
            <div class="vr border-dark mx-2"></div>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal" data-bs-username="@Model.UserData.Account" data-bs-d="@Model.UserData.Account.Encrypt()">Delete</button>
        </div>
    </div>
</div>