﻿* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

/* The Modal (background) */
.add-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.addModal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.add-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .add-close:hover,
    .add-close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.addModal-header {
    padding: 2px 16px;
    background-color: #435d7d;
    color: white;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.addModal-body {
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
}

.addModal-btn {
    display: flex;
    margin-bottom: 30px;
    margin-left: 550px;
}

.cancel {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
    cursor: pointer;
    background-color: #18f22a;
    color: white;
    font-weight: 600;
}

.add-course {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
    cursor: pointer;
    background-color: #e51212;
    color: white;
    font-weight: 600;
}

.add-course-btn {
    background-color: #e51212;
    color: white;
    font-weight: 600;
}


.label-input {
    color: #2A4365;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 50px;
    display: flex;
}

.course-information{
    margin-left: auto;
    margin-right: 350px;
}



