﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}
/*form-container*/
.app-container {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    position: relative;
}

.form-container {
    background-color: #fff;
    width: 80%;
    border-radius: 30px;
    padding-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}

.register {
    flex: 65%;
}

.login {
    flex: 35%;
    text-align: left;
    margin-right: 30px;
}

.register, .login {
    padding: 35px 10px 10px 10px;
}

    .register img {
        width: 80%;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .register a {
        text-decoration: none;
        color: #000000;
        padding-bottom: 0.8px;
        border-bottom: 0.5px solid #000;
        font-size: 18px;
    }

    .login .form-title {
        line-height: 1;
        padding: 0;
        font-weight: 700;
        color: #222;
        font-size: 36px;
    }

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px;
    box-sizing: border-box;
}

    input:focus {
        outline: none;
        border-bottom: 1px solid #222;
    }

.login form {
    margin-top: 33px;
}

.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

    .form-submit:hover {
        background: #4292dc;
    }

.gg-login {
    padding: 10px 0;
    margin-top: 20px;
}

    .gg-login a {
        padding: 8px;
        text-decoration: none;
        color: #222;
        font-size: 20px;
        font-weight: 500;
        border-radius: 10px;
        background-color: #6dabe4;
        -webkit-transition: all 300ms ease 0s;
        -moz-transition: all 300ms ease 0s;
        transition: all 300ms ease 0s;
    }

    .gg-login img {
        transform: translateY(-2px);
    }

    .gg-login a:hover, .gg-login a:focus {
        color: #222;
        padding: 10px;
        -webkit-transition: all 300ms ease 0s;
        -moz-transition: all 300ms ease 0s;
        transition: all 300ms ease 0s;
    }

@media only screen and (max-width: 992px) {
    .register {
        display: none;
    }
}
