﻿* {
    padding: 0;
    margin: 0;
}

.class-details-container {
     display: flex;
     align-items: center;
}

.class-title {
    font-size: 24px;
    color: #333; 
    margin-bottom: 10px; 
    background-color: #f0f0f0; 
    border: 2px solid #ddd; 
    padding: 10px;
    text-align: center; 
}

.class-info {
    flex: 0;
    
    padding: 20px;
    border: 3px solid #ccc;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

    .class-info h2 {
        margin-top: 0;
    }

.test-list {
    flex: 1;
}

.test {
    margin-bottom: 10px;
    margin-right: 10px;
    border: 3px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.view-button {
    display: inline-block;
    background-color: #0056b3;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
}

.class-info h2, .test h3 {
    color: #007BFF;
    
}

.complete-checkbox {
    margin-right: 10px;
    margin-bottom: 15px;
    width: 17px; 
    height: 17px; 
}

.complete-label {
    margin-right: 10px;
}

.complete-label, .complete-checkbox {
    display: inline-block;
    vertical-align: middle;
}
