﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

/*search*/
.search-and-add{
    margin: 20px 0 40px 0;
}

.search-bar {
    width: 90%;
    padding: 10px 18px;
    background: #f5f5f5;
    border-radius: 25px;
}

    .search-bar input {
        margin-left: 10px;
        background: transparent;
        width: 95%;
        border: none;
        outline: none;
    }

.search-btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.search-btn:hover{
    background: #f5f5f5;
}

.add-btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
    cursor: pointer;
    background-color: #1877f2;
    color: white;
    font-weight: 600;
}

.course-list-container {
    border: 1px solid #edf2f6;
}

.list-title {
    padding: 10px 0;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #edf2f6;
}

.course{
    padding: 8px 0;
    display: flex;
}

.stt{
    flex: 1;
    text-align: center;
}

.course-code{
    flex: 2;
    text-align: center;
}

.course-name{
    flex: 5;
    text-align: left;
}

.course-description {
    flex: 5;
    text-align: left;
}

.action{
    flex: 2;
    text-align: center;
}

.detail-course, .edit-course, .delete-course{
    flex: 1;
    cursor: pointer;
    margin: 0 1px;
    padding: 2px 0;
}

.detail-course:hover, .edit-course:hover, .delete-course:hover {
    background: #f5f5f5;
}


