﻿* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: black;
    
}

.logoicon {
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.logout-btn button{
    background-color: white;
}








