﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

.btn-blue {
    background: #1877f2;
    color: #ffffff;
}

input[type='submit']:disabled {
    cursor: not-allowed;
}
/**/
.exam-info, .exam-action{
    padding: 10px 0 10px 10px;
}

.exam-title{
    font-size: 24px;
    font-weight: bold;
}

.link-action a{
    display: block;
    padding: 2px;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    width: fit-content; 
}

#delete-exam{
    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 8px;
    background: red;
    color: white;
    font-weight:bold;
    font-size: 16px;    
}

#delete-exam:hover{
    opacity: 0.65;
}

.question-container{
    margin-bottom: 10px;
}

.question-container p{
    margin: 0 !important;
}

.question{
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    padding: 2px;
}

.question:hover{
    opacity: 0.6;
}

p.answer{
    margin-left: 40px !important;
}

.answer-true{
    color: red;
    font-weight: bold;
}

/*modal*/
#modal-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: #000000;
    opacity: 0.25;
    z-index: 1021;
    display: none;
}

#delete-exam-modal {
    top: -150px;
    position: fixed;
    z-index: 1022;
    inset: 0;
    width: fit-content;
    height: fit-content;
    background: #ffffff;
    margin: auto;
    padding: 16px 24px;
    border-radius: 12px;
    display: none;
}

.confirm-message{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.modal-action{
    display:flex;
}

.modal-elm{
    flex: 50%;
    text-align:center;
}

#delete-cancel{
    padding: 10px 16px;
    border-radius: 8px;
    background: #f0f0f0;
}

#delete-cancel:hover{
    opacity: 0.8;
}

#delete-confirm {
    padding: 10px 16px;
    border-radius: 8px;
    background: red;
    color: white;
}

    #delete-confirm:hover {
        opacity: 0.8;
    }

#edit-exam-modal {
    position: fixed;
    z-index: 1022;
    inset: 0;
    width: 65%;
    height: fit-content;
    background: #ffffff;
    margin: auto;
    padding: 16px 24px;
    border-radius: 12px;
    display: none;
}

.header-modal {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#edit-exam-modal label {
    margin-bottom: 6px;
    margin-top: 10px;
}

.exam-dl label {
    padding: 0 15px 0 0;
}

.exam-dl #start-date {
    margin-right: 50px;
}

input[type=datetime-local] {
    padding: 5px;
    border: 1px solid #f5f5f5;
}

.edit-exam-modal input {
    margin-bottom: 6px;
}

/*#alert-date {
    display: none;
}*/

.modal-btn {
    padding: 10px;
    margin-top: 20px;
    display: flex;
}

    .modal-btn .moda-btn {
        padding: 10px 0;
        border-radius: 8px;
        flex: 1;
        margin: 0 5px;
        border: 1px solid;
    }

        .modal-btn .moda-btn:hover {
            opacity: 0.8;
        }

        .modal-btn .moda-btn.btn-cancel:hover {
            box-shadow: 0.5px 1px #888888;
        }

#exam-page-btn{
    display: flex;
}

#permission-exam {
    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 8px;
    background: green;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}