﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

.btn-blue {
    background: #1877f2;
    color: #ffffff;
}

input[type='submit']:disabled{
    cursor: not-allowed;
}
/**/
.page-title::after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background: black;
    transform: translateY(-8px);
    margin: 10px 0;
    opacity: 0.8;
}

.exam-list-container{
    margin-top: 48px;
}

.list-title {
    padding: 10px 0;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #edf2f6;
}

.create-btn{
    padding: 10px;
}

    .create-btn:hover {
        opacity: 0.8;
    }

    .exam-list{
        flex: 3;
    }

    .class-container{
        flex: 1.5;
    }

.exam {
    display:block;
    text-decoration: none;
    color: #222B45;
    width: 90%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

    .exam:hover {
        background: rgba(0, 0, 0, 0.03);
        transform: scale(1.05);
    }

.exam-date{
    display: flex;
}

.exam-date .start-date, .exam-date .end-date{
    padding: 0 20px;
}

.exam-date i{
    line-height: 24px;
}

.exam-title{
    font-size: 20px;
    font-weight: bold;
}

.class-select{
    margin-bottom: 32px;
}

.current-class-name {
    cursor: pointer;
    padding: 10px;
    background: #3e4042;
    color: white;
}

.current-class-name:hover{
    opacity: 0.7;
}

.current-list-class {
    background: #3e4042;
    width: 100%;
    display: none;
}

a.class-name{
    display: block;
    padding: 10px 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

a.class-name:hover {
    background: rgba(255,255,250,0.1);
    color:white;
}

.class-card{
    padding: 16px;
    border: 1px solid black;
    border-radius: 18px;
}

.class-date .start-date, .class-date .end-date{
    text-align:center;
    font-weight: bold;
    margin-top: 15px;
}

.class-info{
    display:flex;
    margin-top: 30px;
}

.class-info .num-of-stu, .class-info .num-of-exams{
    flex: 50%;
    text-align: center;
}

.class-info .box{
    margin: auto;
    width: 70%;
    padding: 12px 10px;
    border-radius: 18px;
    background: #f5f5f5;
    font-weight:bold;
    font-size:16px;
}
/*modal*/
.modal-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: #000000;
    opacity: 0.25;
    z-index: 1021;
    display: none;
}

.create-exam-modal {
    position: fixed;
    z-index: 1022;
    inset: 0;
    width: 65%;
    height: fit-content;
    background: #ffffff;
    margin: auto;
    padding: 16px 24px;
    display: none;
}

.header-modal {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.create-exam-modal label{
    margin-bottom: 6px;
    margin-top: 10px;
}

.exam-dl label{
    padding: 0 15px 0 0;
}

.class-date .start-date{
    margin-right: 50px;
}

input[type=datetime-local]{
    padding: 5px;
    border: 1px solid #f5f5f5;
}

.create-exam-modal input {
    margin-bottom: 6px;
}

#alert-date{
    /*display: none;*/
}

.modal-btn {
    padding: 10px;
    margin-top: 20px;
    display: flex;
}

    .modal-btn .moda-btn {
        padding: 10px 0;
        border-radius: 8px;
        flex: 1;
        margin: 0 5px;
        border: 1px solid;
    }

    .modal-btn .moda-btn:hover{
        opacity: 0.8;
    }

    .modal-btn .moda-btn.btn-cancel:hover {
        box-shadow: 0.5px 1px #888888;
    }