﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

.btn-blue {
    background: #1877f2;
    color: #ffffff;
}

hr {
    opacity: 1 !important;
}

/**/
.title{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.question-container{
    margin: 10px 0;
}

.answers-container{
    margin-left: 30px;
}

.question-content, .answer{
    font-size: 20px;
}

input[type="checkbox"]{
    transform: scale(2);
    margin-right:10px;
}

.filter{
    margin: 10px 0 ;
}

