﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}
/**/
.main-container{
    margin: 0 30px;
}

.title{
    padding: 25px 0;
}

.title::after{
    display: block;
    content: "";
    height:1px;
    width: 100%;
    background: black;
    transform: translateY(-8px);
    margin: 10px 0;
    opacity: 0.8;
}

.course-container {
    flex-wrap: wrap;
    flex: 3;
}

.search-and-sort {
    flex: 1;
    padding: 0 20px;
    border-left: 1px solid #222B45; 
}

.search{
    text-align: center;
}

input#code{
    padding: 5px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

#btn-search {
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid;
    background: blue;
    color: white;
}

button#btn-search:hover {
    opacity: 0.7;
}

.sort{
    margin-top: 40px;
}

.sort label{
    padding: 2px 0;
}

.course {
    flex: 0 0 28%;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 20px;
    cursor: pointer;
    color: #222B45;
    transition: transform 0.3s;
}

    .course:hover {
        color: #222B45;
        transform: translateY(-8px);
    }

.course .course-code{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.course .course-name{
    text-align: center;
    font-weight: bold;
}

    .course .course-des {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }