﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

/**/
.question-container {
    padding: 10px 15px;
    box-shadow: 0 0px 10px rgba(71,71,71,.4);
}

.title{
    font-weight: bold;
    font-size: 18px;
}

.question{
    font-size: 16px;
}

.left-side {
    flex: 1;
    padding: 10px;
    color: white;
    background: #2A4365;
    height: 90vh;
}

.right-side{
    flex :2.5;
    padding: 10px;
    height: 90vh;
    background: #f5f5f5;
}

.answer{
    padding:3px 0;
    margin: 3px 0;
}

.true-answer{
    background: green;
}

.wrong-answer{
    background: red;
    color: white;
}



