﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

/*container*/
.app-container {
    background: #F7FAFC;
    position: relative;
    height: 100vh;
}
/*app-name*/
.app-name {
    color: #2A4365;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding-top: 35px;
}
/*form*/
.form{
    width: 40%;
    margin: auto;
    margin-top: 30px;
    background: white;
    padding: 30px 40px;
}

.login-form {
    margin-bottom: 20px;
}

.label-input {
    color: #2A4365;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

#email, #pw {
    width: 100%;
    height: 100%;
    background: #EDF2F7;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

.form-group > input, input[type=datetime], select {
    width: 100%;
    height: 100%;
    background: #EDF2F7;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

.forgot-pass {
    text-decoration: none;
    flex: 1;
    margin: auto;
}

input[type=submit] {
    flex: 1;
    background: #2A4365;
    border-radius: 5px;
    color: white;
    padding: 12px 0;
}

    input[type=submit]:hover {
        background: #446ba2;
    }

.login-fail-msg{
    color: red;
    font-weight:bold;
    font-size: 15px;
    text-align: right;
    margin-bottom: 10px;
    padding: 0 5px;
}

.gg-login {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px #2A4365 solid;
    text-decoration: none;
    padding: 8px;
    color: #2A4365;
}

.gg-login:hover {
    background: #bfcde0;
}

@media only screen and (max-width: 900px) {
    .form {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        width: 80%;
    }
}