﻿body {
    background: #F7FAFC;
}

.form-control:focus {
    box-shadow: none;
    border-color: #2A4365
}

.profile-button {
    background: #2A4365;
    box-shadow: none;
    border: none
}

    .profile-button:hover {
        background: #2A4365;
    }

    .profile-button:focus {
        background: #2A4365;
        box-shadow: none
    }

    .profile-button:active {
        background: #2A4365;
        box-shadow: none
    }

.back:hover {
    background: #2A4365;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #2A4365;
    color: #fff;
    cursor: pointer;
    border: solid 1px #2A4365
}
input[type=submit] {
    flex: 1;
    background: #2A4365;
    border-radius: 5px;
    color: white;
    padding: 12px 20px;
}

    input[type=submit]:hover {
        background: #446ba2;
    }

.link {
    padding: 12px 15px;
    text-decoration: none;
    color: #0077cc;
}