﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

.btn-blue {
    background: #1877f2;
    color: #ffffff;
}
 /**/
 .exam-title{
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 20px;
 }

 .question-action a{
     padding: 2px 0;
     margin-bottom: 5px;
 }

 #create-exam-btn{
     padding: 5px 10px;
     font-size: 16px;
     font-weight: bold;
     border-radius: 8px;
     margin-bottom: 5px;
 }

 #create-exam-btn:hover{
     opacity: 0.8;
 }

.question-container {
    margin-bottom: 10px;
}

    .question-container p {
        margin: 0 !important;
    }

.question {
    font-size: 16px;
    font-weight: bolder;
    padding: 2px;
}
.content{
    flex:1;
}
.edit-question, .delete-question{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
    margin: 0 10px;
}

.delete-question{
    color: white;
    background: red;
}

.edit-question:hover, .delete-question:hover {
    opacity: 0.6;
}

.answer {
    margin-left: 40px !important;
}

.answer-true {
    color: red;
    font-weight: bold;
}

.answer-true-content{
    display:inline-block;
}

/*modal*/
#modal-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: #000000;
    opacity: 0.25;
    z-index: 1021;
    display: none;
}

#delete-question-modal{
    top: -150px;
    position: fixed;
    z-index: 1022;
    inset: 0;
    width: fit-content;
    height: fit-content;
    background: #ffffff;
    margin: auto;
    padding: 16px 24px;
    border-radius: 12px;
    display: none;
}

.confirm-message {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.modal-action {
    display: flex;
}

.modal-elm {
    flex: 50%;
    text-align: center;
}

#delete-cancel {
    padding: 10px 16px;
    border-radius: 8px;
    background: #f0f0f0;
}

    #delete-cancel:hover {
        opacity: 0.8;
    }

#delete-confirm {
    padding: 10px 16px;
    border-radius: 8px;
    background: red;
    color: white;
}

    #delete-confirm:hover {
        opacity: 0.8;
    }

#create-question-modal,#edit-question-modal {
    top: -150px;
    position: fixed;
    z-index: 1022;
    inset: 0;
    width: 60%;
    height: fit-content;
    max-height: 550px;
    overflow-y: scroll;
    background: #ffffff;
    margin: auto;
    padding: 16px 24px;
    border-radius: 12px;
    display: none;
}

.header-modal{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.form-group{
    margin-bottom: 15px;
}

#add-more-answer, #add-more-answer-1 {
    background: #1877f2;
    border-radius: 10px;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 34px;
    margin: auto;
    cursor: pointer;
}

.answer-content-input {
    outline: none;
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: 12px;
    width: 650px;
}

.answer-correct{
    margin: 10px 0;
}

.answer-weight-input, .answer-weight-input1 {
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: 12px;
    width: 550px;
}

.add-question-btn, .save-question-btn {
    width: fit-content;
    padding: 8px 18px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin: 20px 10px 0;
}
    .add-question-btn :hover, .save-question-btn:hover {
        opacity: 0.6;
    }

    .add-question-btn[disabled], .save-question-btn [disabled]{
        cursor: not-allowed;
    }

.answers-container .answer-new-ques{
    padding: 15px 10px;
    background: #f7f7f7;
    border-radius: 10px;
    margin-bottom: 15px;
}

.answers-container .answer-info{
    margin-left: 28px;
    /*display: none;*/
}

.answer-new-ques i{
    float: right;
    line-height: 24px;
    padding: 2px 5px;
    cursor: pointer;
}

