html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*css header*/
.header-container {
    border-bottom: 1px solid #e8ebed;
    height: 65px;
    background: white;
}

.not-login .login-btn {
    padding: 5px 10px !important;
    background: #1877f2;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.not-login .login-btn:hover{
    opacity: 0.8;
}

.user-nav .navbar-nav{
    margin:0;
    height: 100%;
}

.user-nav .not-login, .user-nav .logined {
    margin: auto;
}

.user-nav .logined {
    padding: 0 10px;
    cursor:pointer;
}

.user-img {
    height: 35px;
}

.user-nav-choice{
    width: 90%;
    right: 0;
    background: white;
}

.user-nav-choice ul{
    list-style-type: none;
    margin-bottom: 2px;
    padding: 0;
    width: 100%;
}

.user-nav-choice ul li{
    padding: 8px;
}

.user-nav-choice ul li:hover{
    background: #f5f5f5;
}

.user-nav-choice a {
    text-decoration: none;
}
