﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

.btn-blue {
    background: #1877f2;
    color: #ffffff;
}

/**/
.page-title h2{
    text-align: center;
}

.page-title::after{
    content: "";
    display: block;
    height: 1px;
    background: black;
    width: 100%;
    transform: translateY(-10px);
}

.title{
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
}

.record-table-container{
    overflow-x: auto;
}

.table-head, .table-body{
    width: fit-content;
}

.table-body{
    max-height: 500px;
    width: fit-content;
}

.table-head{
    padding: 10px 0;
    background: green;
    color: white;
    font-weight: bold;
}

.highest-attempt{
    background: #f5f5f5;
}

.highest-attempt, .attempt {
    padding: 5px 0;
}
.attempt .stu-acc{
    visibility: hidden;
}

.table-head, .highest-attempt, .attempt{
    display: flex;
}

.stu-acc,.start-time,.end-time{
    width: 130px;
    text-align: center;
}

.score{
    width: 80px;
    text-align: center;
}

.question {
    width: 60px;
    text-align: center;
    border-left: 1px solid black;
}

#data-statistics{
    display: none;
}
