﻿/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

/*search*/

.search-bar {
    width: 90%;
    padding: 10px 18px;
    background: #f5f5f5;
    border-radius: 25px;
}

    .search-bar input {
        margin-left: 10px;
        background: transparent;
        width: 95%;
        border: none;
        outline: none;
    }

.search-btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

    .search-btn:hover {
        background: #f5f5f5;
    }



.student-list-container {
    border: 1px solid #edf2f6;
}

.list-title {
    padding: 10px 0;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #edf2f6;
}

.student {
    padding: 8px 0;
    display: flex;
 
}

.stt {
    flex: 1;
    text-align: center;
}

.student-mssv {
    flex: 2;
    text-align: center;
}

.student-name {
    flex: 5;
    text-align: left;
}

.student-dob {
    flex: 5;
    text-align: left;
}

.action {
    flex: 2;
    text-align: center;
  
}

.student-header {
    padding: 8px 0;
    display: flex;
    font-weight: 700;
}

.stt-header {
    flex: 1;
    text-align: center;
}

.student-mssv-header {
    flex: 2;
    text-align: center;
    
}

.student-name-header {
    flex: 5;
    text-align:left;
    
}

.student-dob-header {
    flex: 5;
    text-align: left;
    
}

.student-inf-header {
    flex: 2;
    text-align: left;

}