﻿.alert {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: fit-content;
    margin-top:10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
}

.alertCheckbox {
    display: none;
}

:checked + .alert {
    display: none;
}

.alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
}

.clear {
    clear: both;
}

.error {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
}

.success {
    background-color: #EFE;
    border: 1px solid #DED;
    color: #9A9;
}
