﻿
.banner {
    width: 100%;
    position: inherit;
    height: 7vw;
    object-fit: cover;
    margin-bottom: 1rem;
    max-height: 20rem;
    min-height: 6rem;
}
.button-purple {
    background-color: darkviolet;
    color: white;
}

    .button-purple:hover {
        background-color: white;
        color: black;
    }

.button-theme {
    background-color: #2A4365;
    color: white;
}

    .button-theme:hover {
        background-color: white;
        color: black;
    }
