﻿@page
@model QuizSystem.Pages.Courses.ManageCoursesModel
@{
    //Layout = null;
    ViewData["Title"] = "Manage Courses";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/course_manage.css" type="text/css" />
    <link rel="stylesheet" href="~/css/deleteModal.css" type="text/css" />
    <link rel="stylesheet" href="~/css/editModal.css" type="text/css" />
    <link rel="stylesheet" href="~/css/addCourseModal.css" type="text/css" />
    <link rel="stylesheet" href="~/css/detailCourse.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="page-title">
            <h2>COURSE MANAGEMENT</h2>
        </div>

        <div class="search-and-add">
            <div class="search-section d-flex">
                <div class="search-bar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input id="search-name" type="text" placeholder="Code name"/>
                </div>
                <div class="search-btn" onclick="search()">
                    Search
                </div>
            </div>

            <div class="add-section d-flex">
                <div class="add-btn" id="add-course-button" >
                    Add Course
                </div>
      
            </div>
        </div>

        <div class="course-list-container">
            <div class="list-title">
                List of Courses
            </div>
            <div class="course-list">
                @for(int i=0; i<Model.courses.Count;i++){
                    <div class="course">
                        <div class="stt">@(i+1)</div>
                        <div class="course-code">@Model.courses[i].CourseCode</div>
                        <div class="course-name">@Model.courses[i].CourseName</div>
                        <div class="course-description">@Model.courses[i].Description</div>
                        <div class="action d-flex">
                            <a class="detail-course" asp-page="/ClassManagement/index" asp-route-id="@Model.courses[i].CourseId">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </a>
                            <div class="edit-course">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                            <div class="delete-course">
                                <i  class="fa fa-trash-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        
    </div>

    <!-- Add course Modal-->
    <div id="addModal" class="add-modal">
        <!-- Add Modal content -->
        <div class="addModal-content">
            <div class="addModal-header">
                <span class="add-close">&times;</span>
                <h3>Add Course</h3>
            </div>
            <div class="addModal-body">
                <form class="addCourse-form" method="post" asp-page="ManageCourses" asp-page-handler="Create">
                    <div class="label-input">
                        Course Code
                        <input name="coursecode" class="course-information" id="coursename" type="text" placeholder="Course Code" />
                    </div>

                    <div class="label-input">
                        Course Name
                        <input name="coursename" class="course-information" id="coursecode" type="text" placeholder="Course Name" />
                    </div>

                    <div class="label-input">
                        Description
                        <input name="coursedes" class="course-information" id="course-des" type="text" placeholder="Description" />
                    </div>
                    
            <div class="addModal-btn">
                <div class="cancel">
                    <div class="add-cancel-btn">
                        Cancel
                    </div>
                </div>
                <div class="add-course">
                    <input type="submit" class="add-course-btn" value="Add">
                </div>
            </div>
           
             </form>
            </div>
        </div>
    </div>

    <!-- Detail course Modal-->
    <div id="detailModal" class="detail-modal">
        <!-- Detail Modal content -->
        <div class="detailModal-content">
            <div class="detailModal-header">
                <span class="detail-close">&times;</span>
                <h3>Course Detail</h3>
            </div>
            <div class="detailModal-body">
                <div class="detail-course-info">
                    <div class="detail-course-code">
                        Course Code:
                    </div>
                    <div class="detail-course-name">
                        Course Name:
                    </div>
                    <div class="detail-course-des">
                        Course Description:
                    </div>
                    <div class="detail-course-class">
                        <label for="class-course">Class:</label>
                        <select name="classes" id="classes">
                                <option value=""></option>
                                <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
          
            <div class="detailModal-btn">
                <div class="redirect-detail">
                    <div class="detail-redirect-btn">
                        ClassList
                    </div>
                </div>
                <div class="close-detail">
                    <div class="detail-close-btn">
                        Close
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Delete course Modal-->
    <div id="deleteModal" class="delete-modal">
        <!-- Delete Modal content -->
        <div class="deleteModal-content">
            <div class="deleteModal-header">
                <span class="close">&times;</span>
                <h3>Delete Course</h3>
            </div>
            <div class="deleteModal-body">
                <p id="text_delete_modal"></p>
            </div>
            <div class="deleteModal-btn">
                <div class="cancel">
                    <div class="cancel-btn">
                        Cancel
                    </div>
                </div>
                <div class="delete">
                    <form method="post" asp-page="ManageCourses" asp-page-handler="Delete">
                        <input id="course_code_delete" type="hidden" name="coursecode" value="">
                        <input type="submit" class="delete-btn" value="Delete">
                    </form>
                  
                </div>
            </div>
        </div>
    </div>

    <!-- Edit course Modal-->
    <div id="editModal" class="edit-modal">
        <!-- Edit Modal content -->
        <div class="editModal-content">
            <div class="editModal-header">
                <span class="edit-close">&times;</span>
                <h3>Edit Course</h3>
            </div>
            <div class="editModal-body">
                <form method="post" asp-page="ManageCourses" asp-page-handler="Edit">
                  
                    <div class="edit-course-info">
                       <div class="edit-course-code">
                            Course Code: 
                            <input name="coursecode" id="text_coursecode_modal" class="course-information" type="text"/> 
                       </div>
                        <input name="initialCourseCode" id="initial_course_code" class="course-information" type="hidden" />

                        <div class="edit-course-name">
                            Course Name:
                                <textarea name="coursename" class="course-information" id="text_coursename_modal"></textarea>
                        </div>
                        <div class="edit-course-des">
                            Course Description:
                                <textarea name="coursedes" class="course-information" id="text_coursedes_modal"></textarea>
                        </div>
                </div>
                <div class="editModal-btn">
                    <div class="cancel">
                        <div class="edit-cancel-btn">
                            Cancel
                        </div>
                    </div>
                    <div class="save">    
                            <input type="submit" class="save-btn" value="Save">
                    </div>
                </div>
                </form>
        </div>
    </div>
    </div>


    <script src="~/js/course_manage.js"></script>
    <script src="~/js/deleteCourseModal.js"></script>
    <script src="~/js/editCourseModal.js"></script>
    <script src="~/js/addCourseModal.js"></script>
    <script src="~/js/detailCourseModal.js"></script>

    @if (ViewData["myRedirect"] != null)
    {
        <script>
            @Html.Raw(ViewData["myRedirect"])
        </script>
    }

    @{
        var errorMessage = ViewData["ErrorMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            alert('@errorMessage');
            window.location.href = '/Courses/ManageCourses';
        </script>
    }
</body>
</html>