﻿@page
@model QuizSystem.Pages.Login.ChangePasswordModel
@{
    //Layout = null;
    ViewData["Title"] = "Change Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleAlert.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Change Password</title>
</head>
<body>

    <div class="app-container">
        <div class="app-name"></div>
        <div class="form">
            <form class="login-form" method="post">
                <div class="label-input">
                    <i></i>
                    Current Password
                </div>
                <input id="pw" name="oldpass" type="password" placeholder="Current Password" required />

                <div class="label-input">
                    <i></i>
                    New Password
                </div>
                <input id="pw" name="newpass" type="password" placeholder="New Password" required />

                <div class="label-input">
                    <i></i>
                    Confirm Password
                </div>
                <input id="pw" name="confirmpass" type="password" placeholder="Confirm Password" required />
                <div class="group-btn d-flex">
                    <input type="submit" id="submit" class="form-submit" value="Submit" />
                </div>
                <div>
                    @if (@Model.Alert != null)
                    {
                        <label style="display:block">
                            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                            <div class="alert error">

                                <span class="alertText">
                                    @Model.Alert
                                    <br class="clear" />
                                </span>
                            </div>
                        </label>
                    }

                    @if (@Model.Notice != null)
                    {
                        <label style="display:block">
                            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                            <div class="alert success">
                                <span class="alertText">
                                    @Model.Notice
                                    <br class="clear" />
                                </span>
                            </div>
                        </label>
                    }
                </div>
            </form>
        </div>
    </div>
</body>
</html>
