﻿@page
@model QuizSystem.Pages.Login.Create_AccountModel
@{
    //Layout = null;
    ViewData["Title"] = "Create Account";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
    <script>
        function disableSubmitButton() {
            document.getElementById("submit").value = "Creating Account. . . "
            document.getElementById("submit").disabled = true;
            document.getElementById("submit").style.background = "rgb(96 106 135)";
        }
    </script>
</head>
<body style="background: #F7FAFC;">
    <div class="app-container">
        @Html.Partial("_NoticeMessagePartial")
        <div class="form-container">
            <div class="app-name">FPT QUIZ</div>
            <div class="form">
                @using (Html.BeginForm("Create_Account", "Login", FormMethod.Post, new { @class = "login-form", onsubmit = "return validateData('name','email', 'account', 'major', 'password', 'confirmPassword', 'phone', 'dob');" })) {
                    <div class="form-group">
                        <div class="label-input">
                            <i></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-envelope" viewBox="0 0 22 22">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                            </svg> @Html.Label("email", "E-mail", new {placeholder = "E-mail"})
                        </div>
                        @if (Model.Email != null) {
                            @Html.TextBox("DisplayEmail", Model.Email, new { placeholder = "E-mail address", @readonly = true, onkeyup = "markInvalidData('email');", @tabindex = -1})
                            @Html.TextBox("email", Model.Email, new { placeholder = "E-mail address", hidden = true, @readonly = true, @tabindex = -1})
                        }
                        else {
                            @Html.TextBox("email", null, new { placeholder = "E-mail address", onkeyup = "markInvalidData('email');"})
                        }
                        <div id="emailReq" class="mb-3" style="font-size:small;">
                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                <li class="">
                                    E-mail must contain <strong>@@FPT.EDU.VN</strong> domain
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <div class="label-input">
                                <i></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-journal-code" viewBox="0 0 22 22">
                                    <path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z" />
                                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                </svg> @Html.Label("major", "Major")
                            </div>
                            <div class="form-group" style="margin-bottom:20px;">
                                @Html.DropDownList("major", new SelectList(Models.Majors.MajorList.Majors), "-- Major --", new {onchange = "markInvalidData('major');", onfocusout = "markInvalidData('major');"})
                            </div>
                            <div id="majorReq" class="mb-3" style="font-size:small;">
                                <ul class="list-group-horizontal" style="list-style-type: disc;">
                                    <li class="">
                                        You must select a Major
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group col-8">
                            <div class="label-input">
                                <i></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 22 22">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg> @Html.Label("account", "Account")
                            </div>
                            <div class="form-group">
                                @Html.TextBox("account", null, new { placeholder = "Account", onkeyup = "markInvalidData('account');"})
                            </div>
                            <div id="accountReq" class="mb-3" style="font-size:small;">
                                <ul class="list-group-horizontal" style="list-style-type: disc;">
                                    <li class="">
                                        Account must be in the format [Name][ID]. Ex: anvhe110001
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-input">
                            <i></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 22 22">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                            </svg> @Html.Label("name", "Name")
                        </div>
                        @Html.TextBox("name", null, new { placeholder = "name", onkeyup = "markInvalidData('name');"})
                        <div id="nameReq" class="mb-3" style="font-size:small;">
                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                <li class="">
                                    Name must contain only Letters and white spaces
                                </li>
                                <li class="">
                                    Name <strong>CANNOT</strong> have accents
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-input">
                            <i></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 22 22">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg> @Html.Label("phone", "Phone Number")
                        </div>
                        @Html.TextBox("phone", null, new { placeholder = "Phone Number", onkeyup = "markInvalidData('phone');"})
                        <div id="phoneReq" class="mb-3" style="font-size:small;">
                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                <li class="me-2">
                                    Phone number must be 10-digits long
                                </li>
                                <li class="">
                                    Phone number must only contains numbers and starts with 0
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-input">
                            <i></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-key" viewBox="0 0 22 22">
                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg> @Html.Label("password", "Password")
                        </div>
                        @Html.Password("password", null, new { placeholder = "Password", onkeyup = "markInvalidData('password');"})
                        <div id="passwordReq" class="mb-3" style="font-size:small;">
                            <ul class="list-group-horizontal mb-0" style="list-style-type: disc;">
                                <li class="me-2">
                                    Password must be 8 to 32 characters long
                                </li>
                            </ul>
                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                <li class="me-2">
                                    Password must contains at least one character each of the following
                                    <ul class="list-group-horizontal" style="list-style-type: circle;">
                                        <li class="">
                                            Uppercase letter
                                        </li>
                                        <li class="">
                                            Lowercase letter
                                        </li>
                                    </ul>
                                    <ul class="list-group-horizontal" style="list-style-type: circle;">
                                        <li class="me-2">
                                            Special characters (@Html.Raw(".,!?*. . . "))
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-input">
                            <i></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-key" viewBox="0 0 22 22">
                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg> @Html.Label("confirmPassword", "Confirm password")
                        </div>
                        @Html.Password("confirmPassword", null, new { placeholder = "Confirm password", onkeyup = "markInvalidData('confirmPassword');"})
                        <div id="confirmPasswordReq" class="mb-3" style="font-size:small;">
                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                <li class="me-2">
                                    Must match with password
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col ">
                            <div class="label-input">
                                <i></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar" viewBox="0 0 22 22">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg> @Html.Label("dob", "Date of Birth")
                            </div>
                            <div class="form-group">
                                @Html.Editor("dob", "date", new { @max = new DateTime(DateTime.Now.AddYears(-18).Year, 12, 31).ToString("yyyy-MM-dd"), @min = new DateTime(DateTime.Now.AddYears(-100).Year, 01, 01).ToString("yyyy-MM-dd"), onchange = "markInvalidData('dob');"})
                                <div id="dobReq" class="mb-3" style="font-size:small;">
                                    <ul class="list-group-horizontal" style="list-style-type: disc;">
                                        <li class="me-2">
                                            Age must be between 18 and 100
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group d-flex">
                        <input type="submit" id="submit" class="form-submit" value="Create Account" />
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/js/CreateAccountValidate.js"></script>
</body>
