﻿@page "{Forgot_Password?}/{action?}"
@model QuizSystem.Pages.Login.Forgot_PasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
    <script>
        function disableSubmitButton() {
            document.getElementById("submit").value = "Sending Email. . . "
            document.getElementById("submit").disabled = true;
            document.getElementById("submit").style.background = "rgb(96 106 135)";
        }
    </script>
</head>
<body>
    <div class="app-container">
        @Html.Partial("_NoticeMessagePartial")
        <div class="form-container">
            <div class="app-name">FPTQuiz</div>
            <div class="form">
                @using (Html.BeginForm("Forgot_Password", "Login", FormMethod.Post, new { @class = "login-form", @onsubmit = "disableSubmitButton();" })) {
                    <div class="form-group">
                        <div class="label-input">
                            <i></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-envelope" viewBox="0 0 22 22">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                            </svg> Email address
                        </div>
                        @Html.TextBox("email", null, new { required = true, placeholder = "E-mail"})
                    </div>
                    <div class="btn-group d-flex">
                        <input type="submit" id="submit" class="form-submit" value="Send Email" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>

