﻿@page
@model QuizSystem.Pages.Login.LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        switch (HttpContext.Session.GetString("role"))
        {
            case "1":
                Response.Redirect("/Index");
                break;
            case "2":
            Response.Redirect("/Index");
                break;
            case "3":
            Response.Redirect("/Index");
                break;
            case "4":
            Response.Redirect("/Dashboard/StudentDashboard");
                break;
        }
    }

    <div class="app-container">
        @Html.Partial("_NoticeMessagePartial")
        <div class="app-name">FPTQuiz</div>
        <div class="form">
            <form class="login-form" method="post" asp-page="Login">
                <div class="label-input">
                    <i></i>
                    Email address
                </div>
                <input id="email" type="text" placeholder="Email" asp-for="@Model.Email" required/>

                <div class="label-input">
                    <i></i>
                    Password
                </div>
                <input id="pw" type="password" placeholder="Password" asp-for="@Model.Password" required/>
                <p id="alert-pwd" style="color: red; font-weight: bold;"></p>

                <div class="group-btn d-flex">
                    <a class="forgot-pass" asp-page="/Login/Forgot_Password">Forgot password?</a>
                    <input type="submit" id="submit" class="form-submit" value="Sign in" />
                </div>
            </form>

            <div class="login-fail-msg">@Model.Msg</div>

            <a class="gg-login" asp-controller="Login" asp-action="LoginWithGoogle">
                <img src="~/Images/google.jpg" width="24" height="24" />
                Login with @@FPT.EDU.VN
            </a>
        </div>
    </div>
</body>
</html>