﻿@page
@using QuizSystem.Models
@using QuizSystem.Services.Encryption;
@model QuizSystem.Pages.Login.ProfileModel

@{
    var user = ViewData["User"] as User;
    ViewData["Title"] = "Profile";
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleAlert.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    @Html.Partial("_NoticeMessagePartial")
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px">
                    <span class="font-weight-bold">@user.Account</span>
                    <span class="text-black-50">@user.Email</span>
                    <span></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile</h4>
                    </div>
                    <form method="post">
                    <div class="row mt-3">
                            @if (HttpContext.Session.GetString("role") == "4")
                            {
                                var profile = ViewData["SelfProfile"] as Student;
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Student ID</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.Mssv" name="mssv" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.StudentName" name="name" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Date Of Birth</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.Dob" name="dob" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input maxlength="10" value="@profile.Phone" type="tel" name="phone" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Major</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.Major" name="major" class="form-control" readonly />
                                    </div>
                                </div>
                            }

                            @if (HttpContext.Session.GetString("role") == "3")
                            {
                                var profile = ViewData["SelfProfile"] as Lecturer;
                                
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Lecturer ID</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.Account" name="name" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.LecturerName" name="name" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input maxlength="10" value="@profile.Phone" type="tel" name="phone" class="form-control" />
                                    </div>
                                </div>
                            }

                            @if (HttpContext.Session.GetString("role") == "2")
                            {
                                var profile = ViewData["SelfProfile"] as Manager;
                                
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Manager ID</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.Account" name="name" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.ManagerName" name="name" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input maxlength="10" value="@profile.Phone" type="tel" name="phone" class="form-control" />
                                    </div>
                                </div>
                            }

                            @if (HttpContext.Session.GetString("role") == "1")
                            {
                                var profile = ViewData["SelfProfile"] as Admin;
                                
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Admin ID</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.Account" name="name" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="@profile.AdminName" name="name" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input maxlength="10" value="@profile.Phone" type="tel" name="phone" class="form-control" />
                                    </div>
                                </div>
                            }
                        </div>
                    <div class="mt-5 text-center">
                        <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="link" asp-page="Reset_Password" asp-route-u="@((ViewData["user"] as User)?.Email.Encrypt())">Change Password</a>
                    </div>
                    <div>
                            @if (ViewData["ErrorMessage"] != null)
                            {
                            <label style="display:block">
                                <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                                <div class="alert error">

                                    <span class="alertText">
                                            @ViewData["ErrorMessage"]
                                        <br class="clear" />
                                    </span>
                                </div>
                            </label>
                            }

                            @if (ViewData["SuccessMessage"] != null)
                            {
                            <label style="display:block">
                                <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                                <div class="alert success">
                                    <span class="alertText">
                                            @ViewData["SuccessMessage"]
                                        <br class="clear" />
                                    </span>
                                </div>
                            </label>
                            }
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
