﻿@page
@model QuizSystem.Pages.Login.Reset_PasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Reset Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
    <script>
        function disableSubmitButton() {
            document.getElementById("submit").value = "Creating Account. . . "
            document.getElementById("submit").disabled = true;
            document.getElementById("submit").style.background = "rgb(96 106 135)";
        }
    </script>
</head>
<body>
    <div class="app-container">
        @Html.Partial("_NoticeMessagePartial")
        <div class="form-container">
            <div class="app-name">FPT QUIZ</div>
            <div class="form">
                @using (Html.BeginForm("Reset_Password", "Login", FormMethod.Post, new { @class = "login-form", onsubmit = "return validateData('oldPassword','password', 'confirmPassword');" })) {
                    @Html.TextBoxFor(model => model.Email, new {hidden = true, @readonly = true})
                    if (Model.OldPassword != null) {
                        @Html.TextBoxFor(model => model.OldPassword, new {hidden = true, @readonly = true})
                    }
                    else {
                        <div class="form-group">
                            <div class="label-input">
                                <i></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-unlock" viewBox="0 0 22 22">
                                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" />
                                </svg> @Html.Label("oldPassword", "Old Password")
                            </div>
                            @Html.Password("oldPassword", Model.OldPassword, new { placeholder = "Old Password", onkeyup = "markInvalidData('oldPassword');"})
                            <div id="oldPasswordReq" class="mb-3" style="font-size:small;color:red;">
                                <ul class="list-group-horizontal mb-0" style="list-style-type: disc;">
                                    <li class="me-2">
                                        You must enter your old password.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="label-input">
                            <i></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-key" viewBox="0 0 22 22">
                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg> @Html.Label("password", "Password")
                        </div>
                        @Html.Password("password", null, new { placeholder = "Password", onkeyup = "markInvalidData('password');"})
                        <div id="passwordReq" class="mb-3" style="font-size:small;">
                            <ul class="list-group-horizontal mb-0" style="list-style-type: disc;">
                                <li class="me-2">
                                    Password must be 8 to 32 characters long
                                </li>
                            </ul>
                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                <li class="me-2">
                                    Password must contains at least one character each of the following
                                    <ul class="list-group-horizontal" style="list-style-type: circle;">
                                        <li class="">
                                            Uppercase letter
                                        </li>
                                        <li class="">
                                            Lowercase letter
                                        </li>
                                    </ul>
                                    <ul class="list-group-horizontal" style="list-style-type: circle;">
                                        <li class="me-2">
                                            Special characters (@Html.Raw(".,<>@... "))
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-input">
                            <i></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-lock" viewBox="0 0 22 22">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                            </svg> @Html.Label("confirmPassword", "Confirm password")
                        </div>
                        @Html.Password("confirmPassword", null, new { placeholder = "Confirm password", onkeyup = "markInvalidData('confirmPassword');"})
                        <div id="confirmPasswordReq" class="mb-3" style="font-size:small;">
                            <ul class="list-group-horizontal" style="list-style-type: disc;">
                                <li class="me-2">
                                    Must match with password
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-group d-flex">
                        <input type="submit" id="submit" class="form-submit" value="Update Password" />
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/js/CreateAccountValidate.js"></script>
</body>

