﻿@page
@using QuizSystem.Models
@model QuizSystem.Pages.Questions.ImportQuestionFromBankModel
@{
    ViewData["Title"] = "Import Questions from Bank";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/import_ques_from_bank.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Exams</title>
</head>
<style>
    
    .filter-question-type {
        font-family: Arial, sans-serif;
    }

  
    .filter {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f7f7f7;
    }

    
    input[type="radio"] {
        margin: 5px;
    }

    label {
        cursor: pointer;
    }

    input[type="radio"]:checked + label {
        font-weight: bold;
        color: #007bff;
    }

   
    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 10px;
    }

        
        input[type="submit"]:hover {
            background-color: #0056b3;
        }

  

   
    .btn-blue {
        border-radius: 10px; 
    }

        .btn-blue:hover {
            background-color: #0056b3;
        }
</style>
<body>
    <div class="container">
        <div class="title text-center">
            @Model.course.CourseCode Questions Bank
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/">Home</a></li>
                <li class="breadcrumb-item"><a href="~/Courses/Lecturer/InChargeCourses">In-charge courses</a></li>
                <li class="breadcrumb-item"><a href="~/Exams/Exams?courseID=@Model.course.CourseId">@Model.course.CourseCode</a></li>
                <li class="breadcrumb-item"><a href="~/Exams/Details?examID=@Model.exam.ExamId">@Model.exam.Title</a></li>
                <li class="breadcrumb-item"><a href="~/Questions/Questions?examID=@Model.exam.ExamId">Edit questions</a></li>
                <li class="breadcrumb-item active" aria-current="page">Import Questions from bank to exam</li>
            </ol>
        </nav>
        <hr />

        <div class="sub-title">
            Import questions to exam: @Model.exam.Title
        </div>

        @if(Model.quesList == null || Model.quesList.Count == 0){
            <h2 class="alert alert-info">
                There is no question in the bank for importing!!
            </h2>
        }else{
            <div class="filter-question-type">
                <form method="post" asp-page="ImportQuestionFromBank" asp-page-handler="Search">
                    <div class="filter">
                        Filter by question type:
                        <br />
                        <input type="hidden" name="examID" value="@Model.exam.ExamId" />
                        <input id="0" type="radio" name="filter" value="0" checked />
                        <label for="0">Show All</label>
                        <br />
                        <input id="1" type="radio" name="filter" value="1" />
                        <label for="1">Multiple Choice</label>
                        <br>
                        <input id="2" type="radio" name="filter" value="2" />
                        <label for="2">Only One Choice</label>
                        <input type="submit" class="btn-filter" value="Filter" />

                    </div>
                </form>
            </div>
            <div class="body-container">
                <div class="choose-question-form">
                    @using (Html.BeginForm("ImportQuestionFromBank", "Questions", FormMethod.Post, new { @class = "", id = "quesForm", name = "quesForm" }))
                    {
                        <input type="hidden" value="@Model.exam.ExamId" name="__examID" />
                        <div class="choose-question-form-container">
                            @for (int i = 0; i < Model.quesList.Count; i++)
                            {
                                <div class="question-container">
                                    <div class="question-content">

                                        <input asp-for="@Model.quesListSelect[i].Value" type="hidden" />
                                        <input asp-for="@Model.quesListSelect[i].Text" type="hidden" />

                                        <input asp-for="@Model.quesListSelect[i].Selected" /> @Model.quesListSelect[i].Text

                                    </div>
                                    <div class="answers-container">
                                        @for (int j = 0; j < Model.quesList[i].QuestionBankAnswers.Count; j++)
                                        {
                                            if (Model.quesList[i].QuestionBankAnswers.ToList()[j].Correct == true)
                                            {
                                                <div class="answer answer-correct">
                                                    @Model.quesList[i].QuestionBankAnswers.ToList()[j].Content
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="answer answer-false">
                                                    @Model.quesList[i].QuestionBankAnswers.ToList()[j].Content
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <input type="submit" id="" class="btn-blue btn-add" value="ADD" />
                    }
                </div>
            </div>
        }
    </div>

    @if (ViewData["myRedirect"] != null)
    {
        <script>
            @Html.Raw(ViewData["myRedirect"])
        </script>
    }
</body>
</html>