﻿@page
@using QuizSystem.Models
@model QuizSystem.Pages.Questions.QuestionsModel
@{
    //Layout = null;
    ViewData["Title"] = "Questions";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/questions.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleAlert.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Questions</title>
    <style>
        .error {
            background-color: #f4c7c7;
            border: 1px solid #EDD;
            color: #8f0303;
        }

        .success {
            background-color: #95cc95;
            border: 1px solid #DED;
            color: #1f551f;
        }
    </style>
</head>
<body>
    @if (TempData["delQSuccess"] != null)
    {
        <div class="alert alert-info alert-dismissible">
            @TempData["delQSuccess"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["delQError"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @TempData["delQError"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["CQuestionNull"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @TempData["CQuestionNull"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["CAnswerNull"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @TempData["CAnswerNull"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["createQError"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @TempData["createQError"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["createQSuccess"] != null)
    {
        <div class="alert alert-info alert-dismissible">
            @TempData["createQSuccess"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["EQuestionNull"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @TempData["EQuestionNull"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["EAnswerNull"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @TempData["EAnswerNull"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["editQError"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @TempData["editQError"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    @if (TempData["editQSuccess"] != null)
    {
        <div class="alert alert-info alert-dismissible">
            @TempData["editQSuccess"]
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    <div class="main-contaienr">
        <div class="container">
            <div class="title text-center">
                
                <h1>QUESTIONS</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/">Home</a></li>
                        <li class="breadcrumb-item"><a href="~/Courses/Lecturer/InChargeCourses">In-charge courses</a></li>
                        <li class="breadcrumb-item"><a href="~/Exams/Exams?courseID=@Model.Class.Course.CourseId">@Model.Class.Course.CourseCode</a></li>
                        <li class="breadcrumb-item"><a href="~/Exams/Details?examID=@Model.exam.ExamId">@Model.exam.Title</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit questions</li>
                    </ol>
                </nav>
            </div>

            <hr />

            <div class="sub-container">
                <div class="exam-title">
                    Exam @Model.exam.Title of Class @Model.Class.ClassName
                </div>
                <div class="question-action">
                    <button id="create-exam-btn" class="btn-blue" onclick="showCreateModal()">Create</button><br />
                    <a href="~/Questions/ImportQuestionFromBank?examID=@Model.exam.ExamId">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        Import questions from bank
                    </a>
                    <br />
                    <div style="margin: 10px 0 5px 0;">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        Import questions to bank
                    </div>
                    <form method="post" asp-page="Questions" asp-page-handler="Import" enctype="multipart/form-data">
                        <input type="hidden" value="@Model.exam.ExamId" name="examID" />
                        <input type="file" name="file" />
                        <button style="padding: 2px 5px;border: 1px solid; border-radius: 2px;" type="submit">Upload Excel</button>
                    </form>
                </div>

                <hr />

                <div class="question-list">
                    @if (@Model.Alert != null)
                    {
                        <label style="display:block">
                            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                            <div class="alert error">
                                <span class="alertText">
                                    @Html.Raw(Model.Alert.Substring(1).Replace("\n", "<br />"))
                                    <br class="clear" />
                                </span>
                            </div>
                        </label>
                    }

                    @if (@Model.Notice != null)
                    {
                        <label style="display:block">
                            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                            <div class="alert success">
                                <span class="alertText">
                                    @Model.Notice
                                    <br class="clear" />
                                </span>
                            </div>
                        </label>
                    }
                    <h3>QUESTIONS</h3>
                    <div class="exam-question-list">
                        @if (Model.questionList == null || Model.questionList.Count == 0)
                        {
                            <h2>There is no question in this exam!</h2>
                        }
                        else
                        {
                            @for (int i = 0; i < Model.questionList.Count; i++)
                            {
                                <div class="question-container">
                                    <div class="question d-flex">
                                        <div class="content">
                                            Question: @Model.questionList[i].Content
                                        </div>
                                        <button class="edit-question" onclick="showEditModal(this,'@Model.questionList[i].QuesId',
                                                        '@Model.questionList[i].Content','@Model.questionList[i].Type','@Model.questionList[i].Score')">
                                            Edit
                                        </button>
                                        <button class="delete-question" onclick="showDeleteModal('@Model.questionList[i].QuesId')">Delete</button>
                                    </div>
                                    <div class="answers">
                                        @for (int j = 0; j < Model.answerList[i].Count; j++)
                                        {
                                            @if (@Model.answerList[i][j].Correct == true)
                                            {
                                                <div class=" answer-true">
                                                    <div class="answer answer-true-content">@Model.answerList[i][j].Content</div> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                    @if(Model.questionList[i].Type == true){
                                                        <div class="answer-percent" style="display: inline-block; color: red;">
                                                            (@Model.answerList[i][j].Percent%)
                                                        </div>
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class=" answer-false">
                                                    <div class="answer answer-false-content">@Model.answerList[i][j].Content</div>
                                                    <div class="answer-percent"></div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-overlay" onclick="hideModal()"></div>
    <div id="delete-question-modal">
        <div class="confirm-message">
            Do you want to delete this question?
        </div>
        <div class="modal-action">
            <div class="modal-elm">
                <button id="delete-cancel" onclick="hideModal()">Cancel</button>
            </div>
            <div class="modal-elm">
                <form class="delete-form" method="post" asp-page="Questions" asp-page-handler="Delete">
                    <input type="hidden" name="quesID" value="" />
                    <input type="hidden" value="@Model.exam.ExamId" name="examID" />
                    <input id="delete-confirm" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </div>

    <div id="create-question-modal">
        <div class="header-modal">
            Create question
        </div>
        <hr />
        <div class="body-modal">
            <form name="addQuesForm" method="post" asp-page="Questions" asp-page-handler="Create">
                <input type="hidden" value="@Model.exam.ExamId" name="examID"/>
                <div class="form-group">
                    <label>Question: </label>
                    <input name="question" type="text" class="form-control" required>
                </div>
                <p id="alert-ques-content" style="color: red; font-weight: bold;">Please do not leave blank or just enter spaces</p>
                <div class="form-group">
                    <label>Type: </label>
                    <select id="typeSelect" name="typeSelect">
                        <option value="0">Only one choice</option>
                        <option value="1">Multiple choices</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Score: </label>
                    <input name="score" type="number" class="form-control" min="1" max="10">
                </div>
                <div class="form-group">
                    <label>Add to bank: </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input type="radio" name="addToBank" value="Yes" >&nbspYes &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input type="radio" name="addToBank" value="No" checked>&nbspNo
                </div>
                <hr />
                <div class="new-question-answers">
                    <div class="answers-container" id="answers-container">
                       
                    </div>
                </div>

                <div class="add-more-answer">
                    <div id="add-more-answer" onclick="addAnswer()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>

                <div id="add-ques-mes" style="font-weight: bold; font-size: 16px; margin: 10px 0; color: red; text-align: center;">
                    Please add 2 or more answers to the question!!
                </div>

                <p id="alert-answer-add" style="color: red; font-weight: bold; text-align: center;"></p>

                <div class="form-group">
                    <input type="submit" class="btn-blue add-question-btn" value="SAVE" disabled>
                </div>
            </form>
        </div>
    </div>

    <div id="edit-question-modal">
        <div class="header-modal">
            Edit question
        </div>
        <div class="body-modal">
            <form name="editQuesForm" method="post" asp-page="Questions" asp-page-handler="Edit">
                <input type="hidden" value="@Model.exam.ExamId" name="examID" />
                <input type="hidden" value="" name="quesID" />
                <div class="form-group">
                    <label>Question: </label>
                    <input name="question1" type="text" class="form-control" required>
                </div>
                <p id="alert-ques-content1" style="color: red; font-weight: bold;"></p>
                <div class="form-group">
                    <label>Type: </label>
                    <select id="typeSelectEdit" name="typeSelect">
                        <option value="0">Only one choice</option>
                        <option value="1">Multiple choices</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Score: </label>
                    <input name="score1" type="number" class="form-control" min="1" max="10">
                </div>
                <hr />
                
                <div class="new-question-answers">
                    <div class="answers-container" id="answers-container-edit">
                    
                    </div>
                </div>

                <div class="add-more-answer">
                    <div id="add-more-answer-1" onclick="addAnswer1()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>

                <div id="save-ques-mes" style="font-weight: bold; font-size: 16px; margin: 10px 0; color: red; text-align: center;">
                </div>

                <p id="alert-answer-edit" style="color: red; font-weight: bold; text-align: center;"></p>

                <div class="form-group">
                    <input type="submit" class="btn-blue save-question-btn" value="SAVE">
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/questions.js"></script>
    @if (ViewData["myRedirect"] != null)
    {
        <script>
            @Html.Raw(ViewData["myRedirect"])
        </script>
    }
</body>
</html>