﻿@page
@using QuizSystem.Models
@model QuizSystem.Pages.Courses.Lecturer.InChargeCoursesModel
@{
    ViewData["Title"] = "In charge courses";
    //Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Content/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/in_charge_courses.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Courses</title>
</head>
<body>
    <div class="main-container">
        <div class="title">
            <h1>Welcome, @Model.account</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">In-charge courses</li>
                </ol>
            </nav>
        </div>

        <h3>In charge: </h3>

        <div class="body-container d-flex">
            <div class="course-container d-flex">
                @if(Model.courseList != null && Model.courseList.Count > 0){
                    @foreach (Course c in Model.courseList)
                    {
                        <a class="course" href="~/Exams/Exams?courseID=@c.CourseId">
                            <div class="course-code">
                                @c.CourseCode
                            </div>
                            <div class="course-name">
                                @c.CourseName
                            </div>
                            <div class="course-des">
                                @c.Description
                            </div>
                        </a>
                    }
                }else{
                    <h2>No course found!</h2>
                }
                
            </div>
            <div class="search-and-sort">
                <div class="search">
                    <form method="post" asp-page="InChargeCourses" asp-page-handler="Search">
                        <input id="code" name="code" placeholder="Course code" type="text" />
                        <input id="btn-search" type="submit" value="Search" />
                    </form>
                </div>
                <div class="sort">
                    Sort by course code: <br />
                    <input id="1" type="radio" name="sort" checked value="Default" />
                    <label for="1">Default</label><br>
                    <input id="2" type="radio" name="sort" value="A-Z" />
                    <label for="2">A-Z</label><br>
                    <input id="3" type="radio" name="sort" value="Z-A" />
                    <label for="3">Z-A</label><br>
                </div>
            </div>
        </div>
    </div>

    <script>
        var radioBtn = document.querySelectorAll("input[name='sort']");
        radioBtn.forEach(function(curVal){
            curVal.addEventListener('change', function(){
                sort(document.querySelector('input[name="sort"]:checked').value);
            });
        });

        var listCourseDefault = document.querySelectorAll("a.course");
        var listCourseContainer = document.querySelector(".course-container");
        var listCourseForSort = Array.from(document.querySelectorAll('a.course'));

        listCourseForSort.sort((a, b) => {
            let courseCodeA = a.querySelector('.course-code').textContent;
            let courseCodeB = b.querySelector('.course-code').textContent;

            if (courseCodeA < courseCodeB) {
                return -1;
            }
            if (courseCodeA > courseCodeB) {
                return 1;
            }
            return 0;
        });

        var listCourseForSort1 = listCourseForSort.slice();
        listCourseForSort1.reverse();

        function sort(sort_type){
            if(listCourseDefault.length > 0){
                listCourseContainer.innerHTML = "";
                if (sort_type == "Default") {
                    listCourseDefault.forEach(function (curVal) {
                        listCourseContainer.appendChild(curVal);
                    });
                } else if (sort_type == "A-Z") {
                    listCourseForSort.forEach(function (curVal) {
                        listCourseContainer.appendChild(curVal);
                    });
                } else if (sort_type == "Z-A") {
                    listCourseForSort1.forEach(function (curVal) {
                        listCourseContainer.appendChild(curVal);
                    });
                }
            }
        }
    </script>
</body>
</html>

