﻿<div class="modal fade" id="DisableModal" tabindex="-1" aria-labelledby="DisableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DisableModalLabel">Disable account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="DisableBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @using (Html.BeginForm("Disable_Account", "UserManagement", FormMethod.Post, new { onsubmit = "return hasValue('DisableU');" })) {
                    @Html.TextBox("DisableU", null, null, new {@readonly = true, hidden = true})
                    <button type="submit" class="btn btn-danger">Disable account</button>
                    Html.EndForm();
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DeleteModalLabel">Delete account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="DeleteBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @using (Html.BeginForm("Delete_Account", "UserManagement", FormMethod.Post, new { onsubmit = "return hasValue('DeleteU');" })) {
                    @Html.TextBox("DeleteU", null, null, new {@readonly = true, hidden = true})
                    <button type="submit" class="btn btn-danger">Delete account</button>
                    Html.EndForm();
                }
            </div>
        </div>
    </div>
</div>
<script>
    function hasValue(field) {
        if (document.getElementById(field).value === null || document.getElementById(field).value.length === 0) {
            return false;
        }
        return true;
    }

    const DisableModal = document.getElementById("DisableModal");
    DisableModal.addEventListener("show.bs.modal", event => {
        const button = event.relatedTarget;
        const recipient = button.getAttribute("data-bs-username");
        const data = button.getAttribute("data-bs-d");
        const status = button.getAttribute("data-bs-status");
        var prompt = "Enable";
        if (status === undefined || status === "disable") prompt = "Disable";

        const header = DisableModal.querySelector(".modal-header h1");
        const body = DisableModal.querySelector("#DisableBody");
        const u = DisableModal.querySelector("#DisableU");
        const form = DisableModal.querySelector(".modal-footer form");
        const submit = form.querySelector("button[type='submit']");

        header.innerText = prompt + " account";
        body.innerText = prompt + " account of: " + recipient + "?";
        u.value = data;
        submit.innerText = prompt + " account";
    });

    DisableModal.addEventListener("hide.bs.modal", event => {
        const body = DisableModal.querySelector("#DisableBody");
        const u = DisableModal.querySelector("#DisableU");

        body.innerText = "Disable account of: ?";
        u.value = "";
    });

    const DeleteModal = document.getElementById("DeleteModal");
    DeleteModal.addEventListener("show.bs.modal", event => {
        const button = event.relatedTarget;
        const recipient = button.getAttribute("data-bs-username");
        const data = button.getAttribute("data-bs-d");

        const body = DeleteModal.querySelector("#DeleteBody");
        const u = DeleteModal.querySelector("#DeleteU");

        body.innerText = "Delete account of: " + recipient + "?";
        u.value = data;
    });

    DeleteModal.addEventListener("hide.bs.modal", event => {
        const body = DeleteModal.querySelector("#DeleteBody");
        const u = DeleteModal.querySelector("#DeleteU");

        body.innerText = "Delete account of: ?";
        u.value = "";
    });
</script>