﻿@{
    string role = Context.Session.GetString("role");
    string account = Context.Session.GetString("account");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuizSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="sticky-top">
            <div class="header-container container-fluid d-flex justify-content-between">
                <div class="d-inline-flex app-brand">
                    @if (role == "4")
                    {
                    <a class="navbar-brand" asp-area="" asp-page="/Dashboard/StudentDashboard" style="margin: auto">QuizSystem</a>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-left:10px">
                        <ul class="navbar-nav flex-row">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/TakingExams/MyCourses">My All Courses</a>
                            </li>
                        </ul>
                    </div>
                    }else{
                        <a class="navbar-brand" asp-area="" asp-page="/Index" style="margin: auto">QuizSystem</a>
                    }
                @if (role == "3")
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-left:10px">
                        <ul class="navbar-nav flex-row">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Courses/Lecturer/InChargeCourses">Lecture Work</a>
                            </li>
                        </ul>
                    </div>
                }
                    @if (role == "2")
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-left:10px">
                        <ul class="navbar-nav flex-row">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Courses/ManageCourses">Manage Courses</a>
                            </li>
                        </ul>
                    </div>
                }

                @if (role == "1")
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-left:10px">
                        <ul class="navbar-nav flex-row">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/UserManagement/Index">Manage Accounts</a>
                            </li>
                        </ul>
                    </div>
                }
                
                </div>

                <div class="user-nav position-relative">
                    <ul class="navbar-nav flex-row">
                        @if(role == null){
                            <li class="nav-item not-login">
                                <a class="login-btn nav-link" asp-area="" asp-page="/Login/Login">Login</a>
                            </li>
                        }else{
                            <li class="nav-item logined">
                                Hi, @account
                            </li>
                            <li class="nav-item logined">
                                <img class="user-img" src="~/Images/User.png"/>
                            </li>
                        }
                    </ul>
                    <div class="d-none user-nav-choice position-absolute">
                        <ul>
                            <li>
                                <a asp-page="/Login/Profile">Profile</a>
                            </li>
                            <li>
                                <a href="">Notification</a>
                            </li>
                            <li>
                                <a asp-controller="Login" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </header>

    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - QuizSystem - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>