﻿@if (TempData["Message"] != null && (TempData["Message"] as string).Length > 0) {
    <div class="d-flex justify-content-center" id="forgotpwdalert">
        <div class="d-inline-flex mt-4 w-sm-100 w-75 py-1 justify-content-between alert alert-@(TempData["Color"] != null ? TempData["Color"] : "primary")" style="position: absolute;">
            <div></div>
            <div class="">
                <p class="text-center lead">@Html.Raw(TempData["Message"] as string)</p>
            </div>
            <div>
                <button class="btn btn-outline-secondary" onclick="hide()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
}
<script>
    function hide() {
        document.getElementById('forgotpwdalert').classList.add("d-none");
    }
</script>