﻿@page
@using QuizSystem.Models
@model QuizSystem.Pages.Dashboard.StudentDashboardModel;
@{
    ViewData["Title"] = "Student Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/StudentPage/classList.css" type="text/css" />
    <link rel="stylesheet" href="~/css/dashboard.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Student Dashboard</title>
    <style>
        .background-img {
            background-image: url("https://vcdn-vnexpress.vnecdn.net/2021/02/01/FPT-3063-1612164117.png");
            background-color: #cccccc;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .background-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 50px;
            text-shadow: 5px 5px 10px black;
        }

        .welcome-hero-btn.how-work-btn {
            display: inline-block;
            margin: 0;
            font-size: 12px;
            background: transparent;
            color: #767f86;
            border: 1px solid #d3d6d9;
            border-radius: 3px;
            text-decoration: none !important;
            padding: 10px 25px;
            width: 100px;
            height:auto !important
        }

    </style>
</head>

<body>
    
    
    <div class="background-img">
            <div class="background-text">
                <h1>WELCOME BACK</h1>
                <h3>FPT University</h3>    
            </div>
    </div>


    <section id="explore" class="explore">
			<div class="container">
				<div class="section-header">
					<h2>My Current Courses</h2>
				</div><!--/.section-header-->
				<div class="explore-content">
					<div class="row">
						@foreach (var item in Model.ClassList)
					{
						<div class=" col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how-works-icon">
									<i class="material-icons description">&#xe873;</i>
								</div>
							<h6>@item.Class.Course.CourseCode - @item.Class.ClassName</h6>
								<p>
									@item.Class.Course.CourseName
								</p>
                                <a class="welcome-hero-btn how-work-btn" asp-page="/TakingExams/ClassDetails" asp-route-id="@item.ClassId">View</a>
								
							</div>
						</div>
					}
				</div>
			</div>
		</div>

		</section>
   
</body>
</html>
